html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Generic style definition for all pages in the bgf layout */
body.bgf {
  /* Generic style definition for all pages */
  padding-right: 5px;

  a {
    color: #602e02;
  }
  span.critical {
    color: #B00000;
    font-weight: bold;
  }
  ul.links {
    list-style-type: none;
    > li {
      display: inline;
      margin-left: 30px;
    }
    > li:first-child {
      margin-left: 0px;
    }
  }
  ul.contacts {
    clear: both;
    list-style-type: none;
    > li {
      vertical-align: top;
      width: 320px;
      display: inline-block;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 40px;
    }
  }
  h2 {
    background: #d2d2d2;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0px 2px;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
  h3,h4 {
    background: #e8e8e8;
    font-weight: bold;
    padding: 3px 0px;
    margin-top: 3px;
    margin-bottom: 10px;
    &.short {
      display: inline-block;
    }
  }
  span.healthy_help {
    color: #2C7037;
    font-weight: bold;
  }

  /* Specific style definition for all pages */
  > div.main {
    position: relative;
    width: 100%;
    margin: 1px;
    padding: 2px;
    > div.header {
      position: relative;
      height: 150px;
      padding: 2px 2px 2px 170px;
      margin-bottom: 10px;
      background: url('/images/BG_logo150.png') no-repeat 0px;
      border-bottom: 2px solid black;
      > h1 {
        position: absolute;
        bottom: 0px;
        font-size: 1.3em;
        font-weight: bold;
      }
      > div.lang {
        position: absolute;
        bottom: 0px;
        right: 0px;
        > ul {
          display: inline;
          padding-left: 0;
          margin-right: 2px;
          margin-bottom: 2px;
          > li {
            display: inline;
            list-style-type: none;
          }
        }
      }
    }
    > div.nav {
      position: absolute;
      > ul {
        width: 134px;
        border: 2px solid black;
        background: #A74E3C;
        list-style-type: none;
        padding-left: 0px;
        > li:hover {
          background: #F8DA63;
          > a {
            color: black;
          }
        }
        > li:first-child {
          border-top: none;
        }
        > li {
          padding: 2px 15px;
          border-top: 2px solid black;
          text-align: center;
          font-size: 1.0em;
          line-height: 1.1em;
          > a {
            color: white;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    > div.content {
      margin-left: 155px;

      > span {
        display: block;
        > a {
          text-decoration: none;
          color: black;
          font-size: 1.1em;
          font-weight: bold;
          background: #E8E8E8;
          padding: 1px;
        }
        > p {
          display: block;
          margin: 10px 0px;
        }
      }
    }
    > div.footer {
      clear: both;
      border-top: 1px solid #9A9A9A;
      span {
        display: block;
      }
    }
  }
}

/* Generic style definition for all pages in the db layout */
body.db {
  > div.page {
    display: block;
    height: 100%;
    position: relative;
    > div.nav {
      background: #930;
      width: 88px;
      position: absolute;
      height: 100%;
      > ul {
        padding-top: 74px;
        padding-left: 0px;
        background: url('/images/BG_logo_76.jpg') no-repeat 50% 0px;
        list-style-type: none;
        margin: 3px;
        > li {
          margin-top: 2px;
          margin-bottom: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          padding-top: 2px;
          padding-bottom: 4px;
          font-size: 0.9em;
          font-weight: bold;
          line-height: 1.0em;
          text-align: center;
          > a {
            width: 100%;
            color: #FFF68F;
            text-decoration: none;
          }
          &:hover {
            background: #A74E3C;
            border: 1px solid #FFEC8B;
            > a {
              color: white;
            }
          }
        }
      }
    }
    > div.main {
      border-left: 86px solid #930;
      > div.header {
        background: #930;
        background: -webkit-gradient(linear, left center, right center,
                    from(#930), to(white), color-stop(0.4, #930), color-stop(0.85, white));
        background: -moz-linear-gradient(left, #930, #930 40%, white 85%);
        background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3OTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM5OTMzMDAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM5OTMzMDAiIG9mZnNldD0iMC40Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZGRkZGRiIgb2Zmc2V0PSIwLjg1Ii8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzc5MikiIC8+Cjwvc3ZnPg==);

        padding: 4px 0px;
        position: relative;
        > h1 {
          display: inline;
          color: #ffffd1;
          font-size: 2.1em;
          font-weight: bold;
          margin-left: 20px;
          padding: 8px 0px;
          text-shadow: 3px 3px 3px #4A1900;
        }
        > div.lang {
          position: absolute;
          bottom: 2px;
          right: 0px;
          > ul {
            display: inline;
            padding-left: 0;
            > li {
              display: inline;
              list-style-type: none;
            }
          }
        }
      }
      > div.content {
        margin-left: 10px;
        h2 {
          margin: 5px 0px;
          padding: 0px 0px 0px 5px;
          font-size: 1.2em;
          font-weight: bold;
          width: 20em;
          background: #CFC;
          border: 2px solid gray;
        }
        h3 {
          font-size: 1.0em;
          font-weight: bold;
          text-decoration: underline;
          margin: 5px 0 8px 0;
          clear: both;
        }
        > p {
          margin: 1px 0px;
          &.instructions {
            font-weight: bold;
          }
          &.help > a {
            color: #00E;
            font-weight: bold;
            > span {
              color: #903;
            }
          }
        }
        > div.search_form {
          margin-top: 10px;
          > form {
            > fieldset {
              margin-left: 40px;
              border: 0;
              padding: 0;
              > label {
                width: 7em;
                text-align: right;
                margin-right: 10px;
                display: inline-block;
                &:after {
                  content: ':'
                }
              }
              > input[type="text"] + input[type="radio"] {
                margin-left: 40px;
              }
              > p {
                margin: 0px 0px 0px 15px;
              }
            }
            > input[type="submit"] {
              margin-left: 130px;
            }
          }
        }
        > dl.overview {
          width: 100%;
          margin: 0;
          > dt, dd {
            float: left;
            background: cornsilk;
            height: 1.7em;
            min-height: 1.7em;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid silver;
            margin: 0;
            vertical-align: text-bottom;
          }
          > dt {
            text-align: right;
            font-weight: bold;
            &.name, &.bg_id {
              border-top: 1px solid silver;
              &+dd {
                border-top: 1px solid silver;
                font-weight: bold;
                color: #990000;
              }
            }
            &.last_updated {
              margin-bottom: 5px;
              &+dd {
                margin-bottom: 5px;
              }
            }
          }
          > dd {
            padding-left: 5px;
          }
        }
        > ul.nav {
          clear: both;
          padding: 0;
          margin-bottom: 10px;
          > li {
            display: inline-block;
            width: 105px;
            border: 1px solid #036;
            border-left: none;
            &:first-child {
              border-left: 1px solid #036;
            }
            text-align: center;
            background: #ccc;
            > a {
              font-weight: bold;
              font-size: 1.1em;
              color: #006;
              text-decoration: none;
            }
            &.active {
              > a {
                color: white;
              }
              background: #036;
            }
          }
        }
        > .subsection {
          display: none;
          > table {
            width: auto;
            border-collapse: collapse;
            tr {
              font-size: 0.9em;
              font-weight: bold;
              > th, td {
                padding: 1px 2px;
                border: 1px solid #808080;
              }
              > th {
                color: white;
                background: #936;
              }
              > td {
                color: black;
                background: white;
              }
            }
          }
        }
      }
    }
  }
}

/* Per-page styles */

/* The FAQ page has special ULs */
body.faq {
  > div.main > div.content {
    > ul {
      padding-left: 0px;
      list-style-type: none;
      > li > a {
        color: #602E02;
        font-weight: bold;
      }
    }
  }
}

/* The repository page has a special notice section and special heading indentation */
body.repository {
  h3 {
    margin-left: 5px;
  }
  h4 {
    margin-left: 10px;
  }
  h3,h4 {
    float: left;
    clear: both;
    margin-bottom: 3px;
  }
  > div.main > div.content > div.notice {
    display: inline-block;
    margin-left: 20px;
    border: 2px solid #00008b;
    background: #ffffcc;
    color: black;
    a {
      color: #602e02;
    }
    > h3 {
      background: none;
      display: block;
      float: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
    }
    > p {
      margin-bottom: 5px;
    }
    > p.more {
      text-align: center;
      > a {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    > ol {
      margin-bottom: 10px;
      margin-left: 5px;
    }
  }
}

/* The repository_p2 page has content ul settings,
   and a special intermission paragraph */
body.repository_p2 {
  > div.main > div.content {
    > p.intermission {
      color: sienna;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
    }
    > ul {
      margin-left: 40px;
    }
  }
}

/* The trustees page has a special %dl for the photo directory */
body.trustees {
  > div.main > div.content > dl {
    dt {
      float: left;
      clear: left;
      margin-bottom: 10px;
    }
    dd {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

/* The data operators page has a special %ul for the contact list */
body.data_operators {
  > div.main > div.content {
    > p {
      clear: left;
    }
    > ul {
      > li {
        display: block;
        width: auto;
        clear: left;
        vertical-align: bottom;
        > span {
          float: left;
          vertical-align: bottom;
          margin-left: 10px;
        }
        > span.name {
          color: #822f2f;
          font-size: 1.1em;
          font-weight: bold;
          &:after {
            content: ', '
          }
        }
        > span.email {
          clear: left;
          margin-left: 30px;
          margin-bottom: 10px;
          &:before {
            content: 'Email: '
          }
        }
        > span.country {
          float: right;
        }
      }
    }
  }
}

/* The forms page has a special ul */
body.forms {
  > div.main > div.content > ul {
    margin-left: 40px;
    > li {
      list-style-type: disc;
      margin-bottom: 30px;
      > a {
        font-size: 1.1em;
      }
    }
  }
}

/* The donations page has a special contact paragraph and a special notice */
body.donations {
  > div.main > div.content {
    > p.contact {
      font-size: 1.1em;
      font-weight: bold;
    }
    > div.notice {
      width: 50%;
      border: 3px solid black;
      background: #ffc;
      color: black;
      > h3 {
        color: #602E02;
        font-weight: bold;
        background: none;
      }
    }
  }
}

/* The studies page has a special detail ul */
body.studies {
  > div.main > div.content {
    > ul > li > a {
      font-weight: bold;
    }
    > ul.detail {
      padding-left: 0px;
      > li {
        list-style-type: none;
        margin-top: 10px;
        &:first-child {
          margin-top: 0px;
        }
        span {
          display: block;
        }
      }
    }
  }
}

/* The articles page has a special dl */
body.articles {
  > div.main > div.content > dl {
    > dt {
      > span.author:before {
        content: '('
      }
      > span.author:after {
        content: ')'
      }
      > span.article_id {
        margin-left: 15px;
        font-size: 0.9em;
      }
    }
    > dd {
      margin-bottom: 10px;
      margin-left: 0px;
      font-size: 0.9em;
    }
  }
}

/* The links page has some special unordered lists */
body.links {
  > div.main > div.content {
    > ul {
      padding-left: 0px;
      list-style-type: none;
      > li {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    > ul.links > li {
      display: block;
      margin-left: 0px;
    }
  }
}

body.db.people {
  > div.page > div.main > div.content {
    > dl.overview {
      > dt {
        width: 100px;
        &.name,&.second_name,&.address,&.city_state_zip,&.email,&.web_site,&.kennel_name,&.bmdca_status,&.master_household,&.last_updated {
          clear: both;
          border-left: 1px solid silver;
        }
        &.bg_id,&.country,&.address2,&.phone,&.email,&.fax,&.deceased,&.display,&.data_source,&.last_updated {
          &+dd {
            border-right: 1px solid silver;
          }
        }
        &.master_household {
          width: 160px;
          &+dd {
            width: 205px;
          }
        }
        &.address,&.address2,&.data_source {
          &+dd {
            width: 265px;
          }
        }
        &.city_state_zip {
          color: cornsilk;
        }
        &.email,&.last_updated {
          &+dd {
            width: 635px;
          }
        }
        &.bg_id,&.country,&.phone,&.fax,&.deceased,&.display {
          &+dd {
            width: 185px;
          }
        }
      }
      > dd {
        width: 345px;
      }
    }
  }
}

body.db.dogs {
  > div.page > div.main > div.content {
    > h2 {
      background: #cae1ff;
    }
    > div.search_form > form {
      > fieldset {
        margin: 2px 0;
        > label {
          font-weight: normal;
          width: 140px;
          margin-right: 0;
        }
        > span {
          display: inline-block;
          &:last-child {
            width: auto;
          }
        }
        > input[type="text"] + input[type="radio"] {
          margin-left: 10px;
        }
        > input[type="text"] + span {
          margin-left: 10px;
          &:before {
            content: '('
          }
          &:after {
            content: ')'
          }
        }
        & + p {
          margin: 10px 0;
        }
      }
      > input[type="submit"] {
        margin-left: 140px;
        margin-top: 10px;
      }
    }
    > dl.overview {
      > dt {
        width: 120px;
        &.name,&.call_name,&.registration,&.registration2,&.dna,&.stud_book,&.data_source,&.last_updated {
          clear: both;
          border-left: 1px solid silver;
        }
        &.bg_id,&.sex,&.kennel_club,&.kennel_club2,&.litter,&.death,&.rescue,&.last_updated {
          &+dd {
            border-right: 1px solid silver;
          }
        }
        &.name, &.call_name {
          & + dd {
            width: 405px;
          }
        }
        &.bg_id, &.sex {
          width: 100px;
          & + dd {
            width: 135px;
          }
        }
        &.registration, &.registration2, &.dna, &.stud_book, &.data_source {
          & + dd {
            width: 180px;
          }
        }
        &.kennel_club, &.kennel_club2 {
          & + dd {
            width: 340px;
          }
        }
        &.whelp_date, &.deceased, &.semen {
          & + dd {
            width: 90px;
          }
        }
        &.litter, &.death, &.rescue {
          width: 110px;
          & + dd {
            width: 135px;
          }
        }
        &.last_updated {
          & + dd {
            width: 645px;
          }
        }
      }
    }
    > ul.nav {
      li {
        display: inline;
        background: #dedede;
        border: 2px solid black;
        border-left: none;
        &:first-child {
          border-left: 2px solid black;
        }
        > a {
          padding: 2px 10px;
          font-size: 1.0em;
          font-weight: bold;
          color: black;
        }
        &.active {
          background: #00688b;
          > a {
            color: white;
          }
        }
      }
    }
    > .subsection {
      > table.owner tr {
        > th {
          background: #652828;
        }
        > td.bgid, td.reside {
          text-align: center;
        }
      }
      > table.litter {
        border: 1px solid black;
        tr {
          > th, td {
            border: none;
          }
          > th {
            background: #00688B;
          }
          > td {
            font-weight: bold;
            &.bgid {
              text-align: center;
            }
            &:first-child {
              text-align: right;
            }
          }
          &.sire > td {
            background: #C6E2FF;
          }
          &.dam > td {
            background: #EEE0E5;
          }
        }
      }
    }
  }
}
