html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/* Generic style definition for all pages in the bgf layout */
body.bgf {
  /* Generic style definition for all pages */
  padding-right: 5px;
  /* Specific style definition for all pages */ }
  body.bgf a {
    color: #602e02; }
  body.bgf span.critical {
    color: #B00000;
    font-weight: bold; }
  body.bgf ul.links {
    list-style-type: none; }
    body.bgf ul.links > li {
      display: inline;
      margin-left: 30px; }
    body.bgf ul.links > li:first-child {
      margin-left: 0px; }
  body.bgf ul.contacts {
    clear: both;
    list-style-type: none; }
    body.bgf ul.contacts > li {
      vertical-align: top;
      width: 320px;
      display: inline-block;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 40px; }
  body.bgf h2 {
    background: #d2d2d2;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0px 2px; }
  body.bgf h3 {
    font-size: 1.1em; }
  body.bgf h4 {
    font-size: 1em; }
  body.bgf h3, body.bgf h4 {
    background: #e8e8e8;
    font-weight: bold;
    padding: 3px 0px;
    margin-top: 3px;
    margin-bottom: 10px; }
    body.bgf h3.short, body.bgf h4.short {
      display: inline-block; }
  body.bgf span.healthy_help {
    color: #2C7037;
    font-weight: bold; }
  body.bgf > div.main {
    position: relative;
    width: 100%;
    margin: 1px;
    padding: 2px; }
    body.bgf > div.main > div.header {
      position: relative;
      height: 150px;
      padding: 2px 2px 2px 170px;
      margin-bottom: 10px;
      background: url("/images/BG_logo150.png") no-repeat 0px;
      border-bottom: 2px solid black; }
      body.bgf > div.main > div.header > h1 {
        position: absolute;
        bottom: 0px;
        font-size: 1.3em;
        font-weight: bold; }
      body.bgf > div.main > div.header > div.lang {
        position: absolute;
        bottom: 0px;
        right: 0px; }
        body.bgf > div.main > div.header > div.lang > ul {
          display: inline;
          padding-left: 0;
          margin-right: 2px;
          margin-bottom: 2px; }
          body.bgf > div.main > div.header > div.lang > ul > li {
            display: inline;
            list-style-type: none; }
    body.bgf > div.main > div.nav {
      position: absolute; }
      body.bgf > div.main > div.nav > ul {
        width: 134px;
        border: 2px solid black;
        background: #A74E3C;
        list-style-type: none;
        padding-left: 0px; }
        body.bgf > div.main > div.nav > ul > li:hover {
          background: #F8DA63; }
          body.bgf > div.main > div.nav > ul > li:hover > a {
            color: black; }
        body.bgf > div.main > div.nav > ul > li:first-child {
          border-top: none; }
        body.bgf > div.main > div.nav > ul > li {
          padding: 2px 15px;
          border-top: 2px solid black;
          text-align: center;
          font-size: 1.0em;
          line-height: 1.1em; }
          body.bgf > div.main > div.nav > ul > li > a {
            color: white;
            font-weight: bold;
            text-decoration: none; }
    body.bgf > div.main > div.content {
      margin-left: 155px; }
      body.bgf > div.main > div.content > span {
        display: block; }
        body.bgf > div.main > div.content > span > a {
          text-decoration: none;
          color: black;
          font-size: 1.1em;
          font-weight: bold;
          background: #E8E8E8;
          padding: 1px; }
        body.bgf > div.main > div.content > span > p {
          display: block;
          margin: 10px 0px; }
    body.bgf > div.main > div.footer {
      clear: both;
      border-top: 1px solid #9A9A9A; }
      body.bgf > div.main > div.footer span {
        display: block; }

/* Generic style definition for all pages in the db layout */
body.db > div.page {
  display: block;
  height: 100%;
  position: relative; }
  body.db > div.page > div.nav {
    background: #930;
    width: 88px;
    position: absolute;
    height: 100%; }
    body.db > div.page > div.nav > ul {
      padding-top: 74px;
      padding-left: 0px;
      background: url("/images/BG_logo_76.jpg") no-repeat 50% 0px;
      list-style-type: none;
      margin: 3px; }
      body.db > div.page > div.nav > ul > li {
        margin-top: 2px;
        margin-bottom: 2px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 2px;
        padding-bottom: 4px;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.0em;
        text-align: center; }
        body.db > div.page > div.nav > ul > li > a {
          width: 100%;
          color: #FFF68F;
          text-decoration: none; }
        body.db > div.page > div.nav > ul > li:hover {
          background: #A74E3C;
          border: 1px solid #FFEC8B; }
          body.db > div.page > div.nav > ul > li:hover > a {
            color: white; }
  body.db > div.page > div.main {
    border-left: 86px solid #930; }
    body.db > div.page > div.main > div.header {
      background: #930;
      background: -webkit-gradient(linear, left center, right center, from(#993300), to(white), color-stop(0.4, #993300), color-stop(0.85, white));
      background: -moz-linear-gradient(left, #993300, #993300 40%, white 85%);
      padding: 4px 0px;
      position: relative; }
      body.db > div.page > div.main > div.header > h1 {
        display: inline;
        color: #ffffd1;
        font-size: 2.1em;
        font-weight: bold;
        margin-left: 20px;
        padding: 8px 0px;
        text-shadow: 3px 3px 3px #4A1900; }
      body.db > div.page > div.main > div.header > div.lang {
        position: absolute;
        bottom: 2px;
        right: 0px; }
        body.db > div.page > div.main > div.header > div.lang > ul {
          display: inline;
          padding-left: 0; }
          body.db > div.page > div.main > div.header > div.lang > ul > li {
            display: inline;
            list-style-type: none; }
    body.db > div.page > div.main > div.content {
      margin-left: 10px; }
      body.db > div.page > div.main > div.content h2 {
        margin: 5px 0px;
        padding: 0px 0px 0px 5px;
        font-size: 1.2em;
        font-weight: bold;
        width: 20em;
        background: #CFC;
        border: 2px solid gray; }
      body.db > div.page > div.main > div.content h3 {
        font-size: 1.0em;
        font-weight: bold;
        text-decoration: underline;
        margin: 5px 0 8px 0; }
      body.db > div.page > div.main > div.content > p {
        margin: 1px 0px; }
        body.db > div.page > div.main > div.content > p.instructions {
          font-weight: bold; }
        body.db > div.page > div.main > div.content > p.help > a {
          color: #00E;
          font-weight: bold; }
          body.db > div.page > div.main > div.content > p.help > a > span {
            color: #903; }
      body.db > div.page > div.main > div.content > div.search_form {
        margin-top: 10px; }
        body.db > div.page > div.main > div.content > div.search_form > form > fieldset {
          margin-left: 40px;
          border: 0;
          padding: 0; }
          body.db > div.page > div.main > div.content > div.search_form > form > fieldset > label {
            width: 7em;
            text-align: right;
            margin-right: 10px;
            display: inline-block; }
            body.db > div.page > div.main > div.content > div.search_form > form > fieldset > label:after {
              content: ':'; }
          body.db > div.page > div.main > div.content > div.search_form > form > fieldset > input[type="text"] + input[type="radio"] {
            margin-left: 40px; }
          body.db > div.page > div.main > div.content > div.search_form > form > fieldset > p {
            margin: 0px 0px 0px 15px; }
        body.db > div.page > div.main > div.content > div.search_form > form > input[type="submit"] {
          margin-left: 130px; }
      body.db > div.page > div.main > div.content > dl.overview {
        border: 1px solid silver;
        background: cornsilk;
        margin: 0; }
        body.db > div.page > div.main > div.content > dl.overview > dt, body.db > div.page > div.main > div.content > dl.overview dd {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-bottom: 1px solid silver;
          margin: 0;
          vertical-align: text-bottom; }
        body.db > div.page > div.main > div.content > dl.overview > dt {
          text-align: right;
          font-weight: bold; }
          body.db > div.page > div.main > div.content > dl.overview > dt.name + dd, body.db > div.page > div.main > div.content > dl.overview > dt.bg_id + dd {
            font-weight: bold;
            color: #990000; }
          body.db > div.page > div.main > div.content > dl.overview > dt.last_updated {
            border-bottom: none; }
            body.db > div.page > div.main > div.content > dl.overview > dt.last_updated + dd {
              border-bottom: none; }
        body.db > div.page > div.main > div.content > dl.overview > dd {
          padding-left: 5px; }
      body.db > div.page > div.main > div.content > ul.nav {
        clear: both;
        padding: 0;
        margin-bottom: 10px; }
        body.db > div.page > div.main > div.content > ul.nav > li {
          display: inline-block;
          width: 105px;
          border: 1px solid #036;
          border-left: none;
          text-align: center;
          background: #ccc; }
          body.db > div.page > div.main > div.content > ul.nav > li:first-child {
            border-left: 1px solid #036; }
          body.db > div.page > div.main > div.content > ul.nav > li > a {
            font-weight: bold;
            font-size: 1.1em;
            color: #006;
            text-decoration: none; }
          body.db > div.page > div.main > div.content > ul.nav > li.active {
            background: #036; }
            body.db > div.page > div.main > div.content > ul.nav > li.active > a {
              color: white; }
      body.db > div.page > div.main > div.content > .subsection {
        display: none; }
        body.db > div.page > div.main > div.content > .subsection > table {
          width: auto;
          border-collapse: collapse; }
          body.db > div.page > div.main > div.content > .subsection > table tr {
            font-size: 0.9em;
            font-weight: bold; }
            body.db > div.page > div.main > div.content > .subsection > table tr > th, body.db > div.page > div.main > div.content > .subsection > table tr td {
              padding: 1px 2px;
              border: 1px solid #808080; }
            body.db > div.page > div.main > div.content > .subsection > table tr > th {
              color: white;
              background: #936; }
            body.db > div.page > div.main > div.content > .subsection > table tr > td {
              color: black;
              background: white; }

/* Per-page styles */
/* The FAQ page has special ULs */
body.faq > div.main > div.content > ul {
  padding-left: 0px;
  list-style-type: none; }
  body.faq > div.main > div.content > ul > li > a {
    color: #602E02;
    font-weight: bold; }

/* The repository page has a special notice section and special heading indentation */
body.repository h3 {
  margin-left: 5px; }
body.repository h4 {
  margin-left: 10px; }
body.repository h3, body.repository h4 {
  float: left;
  clear: both;
  margin-bottom: 3px; }
body.repository > div.main > div.content > div.notice {
  display: inline-block;
  margin-left: 20px;
  border: 2px solid #00008b;
  background: #ffffcc;
  color: black; }
  body.repository > div.main > div.content > div.notice a {
    color: #602e02; }
  body.repository > div.main > div.content > div.notice > h3 {
    background: none;
    display: block;
    float: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px; }
  body.repository > div.main > div.content > div.notice > p {
    margin-bottom: 5px; }
  body.repository > div.main > div.content > div.notice > p.more {
    text-align: center; }
    body.repository > div.main > div.content > div.notice > p.more > a {
      font-size: 1.1em;
      font-weight: bold; }
  body.repository > div.main > div.content > div.notice > ol {
    margin-bottom: 10px;
    margin-left: 5px; }

/* The repository_p2 page has content ul settings,
   and a special intermission paragraph */
body.repository_p2 > div.main > div.content > p.intermission {
  color: sienna;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center; }
body.repository_p2 > div.main > div.content > ul {
  margin-left: 40px; }

/* The trustees page has a special %dl for the photo directory */
body.trustees > div.main > div.content > dl dt {
  float: left;
  clear: left;
  margin-bottom: 10px; }
body.trustees > div.main > div.content > dl dd {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold; }

/* The data operators page has a special %ul for the contact list */
body.data_operators > div.main > div.content > p {
  clear: left; }
body.data_operators > div.main > div.content > ul > li {
  display: block;
  width: auto;
  clear: left;
  vertical-align: bottom; }
  body.data_operators > div.main > div.content > ul > li > span {
    float: left;
    vertical-align: bottom;
    margin-left: 10px; }
  body.data_operators > div.main > div.content > ul > li > span.name {
    color: #822f2f;
    font-size: 1.1em;
    font-weight: bold; }
    body.data_operators > div.main > div.content > ul > li > span.name:after {
      content: ', '; }
  body.data_operators > div.main > div.content > ul > li > span.email {
    clear: left;
    margin-left: 30px;
    margin-bottom: 10px; }
    body.data_operators > div.main > div.content > ul > li > span.email:before {
      content: 'Email: '; }
  body.data_operators > div.main > div.content > ul > li > span.country {
    float: right; }

/* The forms page has a special ul */
body.forms > div.main > div.content > ul {
  margin-left: 40px; }
  body.forms > div.main > div.content > ul > li {
    list-style-type: disc;
    margin-bottom: 30px; }
    body.forms > div.main > div.content > ul > li > a {
      font-size: 1.1em; }

/* The donations page has a special contact paragraph and a special notice */
body.donations > div.main > div.content > p.contact {
  font-size: 1.1em;
  font-weight: bold; }
body.donations > div.main > div.content > div.notice {
  width: 50%;
  border: 3px solid black;
  background: #ffc;
  color: black; }
  body.donations > div.main > div.content > div.notice > h3 {
    color: #602E02;
    font-weight: bold;
    background: none; }

/* The studies page has a special detail ul */
body.studies > div.main > div.content > ul > li > a {
  font-weight: bold; }
body.studies > div.main > div.content > ul.detail {
  padding-left: 0px; }
  body.studies > div.main > div.content > ul.detail > li {
    list-style-type: none;
    margin-top: 10px; }
    body.studies > div.main > div.content > ul.detail > li:first-child {
      margin-top: 0px; }
    body.studies > div.main > div.content > ul.detail > li span {
      display: block; }

/* The articles page has a special dl */
body.articles > div.main > div.content > dl > dt > span.author:before {
  content: '('; }
body.articles > div.main > div.content > dl > dt > span.author:after {
  content: ')'; }
body.articles > div.main > div.content > dl > dt > span.article_id {
  margin-left: 15px;
  font-size: 0.9em; }
body.articles > div.main > div.content > dl > dd {
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 0.9em; }

/* The links page has some special unordered lists */
body.links > div.main > div.content > ul {
  padding-left: 0px;
  list-style-type: none; }
  body.links > div.main > div.content > ul > li {
    font-size: 1.1em;
    font-weight: bold; }
body.links > div.main > div.content > ul.links > li {
  display: block;
  margin-left: 0px; }

body.db.people > div.page > div.main > div.content > dl.overview {
  width: 740px; }
  body.db.people > div.page > div.main > div.content > dl.overview > dt {
    width: 100px; }
    body.db.people > div.page > div.main > div.content > dl.overview > dt.master_household {
      width: 160px; }
      body.db.people > div.page > div.main > div.content > dl.overview > dt.master_household + dd {
        width: 205px; }
    body.db.people > div.page > div.main > div.content > dl.overview > dt.address + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.address2 + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.data_source + dd {
      width: 265px; }
    body.db.people > div.page > div.main > div.content > dl.overview > dt.city_state_zip {
      color: cornsilk; }
    body.db.people > div.page > div.main > div.content > dl.overview > dt.email + dd {
      width: 635px; }
    body.db.people > div.page > div.main > div.content > dl.overview > dt.bg_id + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.country + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.phone + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.fax + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.deceased + dd, body.db.people > div.page > div.main > div.content > dl.overview > dt.display + dd {
      width: 185px; }
  body.db.people > div.page > div.main > div.content > dl.overview > dd {
    width: 345px; }

body.db.dogs > div.page > div.main > div.content > h2 {
  background: #cae1ff; }
body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset {
  margin: 2px 0; }
  body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > label {
    font-weight: normal;
    width: 140px;
    margin-right: 0; }
  body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > span {
    display: inline-block; }
    body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > span:last-child {
      width: auto; }
  body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > input[type="text"] + input[type="radio"] {
    margin-left: 10px; }
  body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > input[type="text"] + span {
    margin-left: 10px; }
    body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > input[type="text"] + span:before {
      content: '('; }
    body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset > input[type="text"] + span:after {
      content: ')'; }
  body.db.dogs > div.page > div.main > div.content > div.search_form > form > fieldset + p {
    margin: 10px 0; }
body.db.dogs > div.page > div.main > div.content > div.search_form > form > input[type="submit"] {
  margin-left: 140px;
  margin-top: 10px; }
body.db.dogs > div.page > div.main > div.content > dl.overview {
  width: 770px; }
  body.db.dogs > div.page > div.main > div.content > dl.overview > dt {
    width: 120px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.name + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.call_name + dd {
      width: 405px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.bg_id, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.sex {
      width: 100px; }
      body.db.dogs > div.page > div.main > div.content > dl.overview > dt.bg_id + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.sex + dd {
        width: 135px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.registration + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.registration2 + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.dna + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.stud_book + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.data_source + dd {
      width: 180px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.kennel_club + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.kennel_club2 + dd {
      width: 340px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.whelp_date + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.deceased + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.semen + dd {
      width: 90px; }
    body.db.dogs > div.page > div.main > div.content > dl.overview > dt.litter, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.death, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.rescue {
      width: 110px; }
      body.db.dogs > div.page > div.main > div.content > dl.overview > dt.litter + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.death + dd, body.db.dogs > div.page > div.main > div.content > dl.overview > dt.rescue + dd {
        width: 135px; }
body.db.dogs > div.page > div.main > div.content > ul.nav li {
  display: inline;
  background: #dedede;
  border: 2px solid black;
  border-left: none; }
  body.db.dogs > div.page > div.main > div.content > ul.nav li:first-child {
    border-left: 2px solid black; }
  body.db.dogs > div.page > div.main > div.content > ul.nav li > a {
    padding: 2px 10px;
    font-size: 1.0em;
    font-weight: bold;
    color: black; }
  body.db.dogs > div.page > div.main > div.content > ul.nav li.active {
    background: #00688b; }
    body.db.dogs > div.page > div.main > div.content > ul.nav li.active > a {
      color: white; }
body.db.dogs > div.page > div.main > div.content > .subsection > table.owner tr > th {
  background: #652828; }
body.db.dogs > div.page > div.main > div.content > .subsection > table.owner tr > td.bgid, body.db.dogs > div.page > div.main > div.content > .subsection > table.owner tr td.reside {
  text-align: center; }
body.db.dogs > div.page > div.main > div.content > .subsection > table.litter {
  border: 1px solid black; }
  body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr > th, body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr td {
    border: none; }
  body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr > th {
    background: #00688B; }
  body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr > td {
    font-weight: bold; }
    body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr > td.bgid {
      text-align: center; }
    body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr > td:first-child {
      text-align: right; }
  body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr.sire > td {
    background: #C6E2FF; }
  body.db.dogs > div.page > div.main > div.content > .subsection > table.litter tr.dam > td {
    background: #EEE0E5; }
