%h2 Health Articles

%p
  The following is a collection of documents, presentations or other published
  articles that you may find of interest. Clicking on an article will result in
  it being displayed in a new window.

%dl
  %dt
    =link_to('Berner-Garde Foundation and Michigan State University Establish a DNA and Tissue Repository','http://www.bernergarde.org/articles/html/RepositoryIntro.htm')
    %span.author Author: Mary Maliarik, PhD, Berner-Garde Trustee
    %span.article_id Article ID# 6
  %dd
    Introduction to the new DNA and Tissue Repository being established by the
    Berner-Garde Foundation and Michigan State University. This unique
    collaborative effort is expected to be operational early in 2007.

  %dt
    =link_to('Berner-Garde presentation at the 2006 Health Symposium','http://www.bernergarde.org/Articles/html/PLComo_Page1.htm')
    %span.author Author: Pat Long, Berner-Garde Trustee
    %span.article_id Article ID# 1
  %dd
    Pat Long's PowerPoint presentation reformatted for Internet viewing. This was
    the presentation she made at the health symposium in Como, Italy in October of 2006.

  %dt
    =link_to('Chromosomes, Genes and Cancer - A molecular cytogenetic approach to the study of malignant histiocytosis in the Bernese Mountain Dog','http://www.bernergarde.org/Articles/html/DrBreen_Oct2006.htm')
    %span.author Author: Dr. Matthew Breen & Tessa Breen
    %span.article_id Article ID# 7
  %dd
    Dr. Breen’s research involves looking at genetic changes that are associated
    with cancers. In particular his laboratory looks at how the genome is ‘shuffled’
    during the cancer process. As cells replicate, chromosomes sometimes rearrange;
    this is particularly true with cancer. Chromosomes can be lost, they can move,
    or they can duplicate. These chromosomal aberrations are hallmarks of gene
    deregulation and genomic instability. This may lead to deregulation of the
    cell’s normal function and the development a cancer.

  %dt
    =link_to('Clinical Experience on Tumors of the Bernese Mountain Dog','http://www.bernergarde.org/home/Articles/DrPaoloBuracco_Oct2006.htm')
    %span.author Author: Prof. Paolo Buracco
    %span.article_id Article ID# 3
  %dd
    Prof. Buracco focused his presentation on the most frequent tumors of the
    Bernese Mountain Dog. If it is true that BMDs may be affected by all types
    of tumors, it is also true that in this breed there is a clear prevalence
    of the histiocytic disorders (over 70% in the author's experience) . Also,
    it is his impression that at the Veterinary Teaching Hospital of Grugliasco,
    BMDs are presented for a clinical examination almost exclusively because of
    orthopedic or oncological disorders. BMDs consist of less than 2% of all dogs
    examined.

  %dt
    =link_to('How to participate in the Histio studies.','http://www.bernergarde.org/Articles/html/ParticipateHistioStudies.htm')
    %span.author Author: Dr. André, Dr. Ostrander and Dr. Breen
    %span.article_id Article ID# 5
  %dd
    Information on how you can participate in coordinated research into the genetic
    causes of Malignant Histiocytosis. These studies are being conducted by
    Dr. Catherine André, Dr. Elaine Ostrander and Dr. Matthew Breen. These three
    studies have been funded by the AKC Canine Health Foundation.

  %dt
    =link_to('In Vitro Studies of Cytotoxic Activity of Natural Killer (NK) and Lymphokine-Activated Killer (LAK) Cells Obtained from Blood of Dogs','http://www.bernergarde.org/Articles/html/DrBurkhardt_Oct2006.htm')
    %span.author Author: Dr. E. Burkhardt
    %span.article_id Article ID# 8
  %dd
    The immune system produces cells to mount an attack against any cells seen as
    foreign, or antigens. Especially two different types of lymphocytes the NK or
    natural killer cells, and Tc or cytotoxic T-cells (- where cytotoxic means it
    is toxic to cells) show this capability. The immune system is complex, and mounts
    a number of different types of responses to antigens. One specific type of
    response involves T-cells (T helper cells) producing cytokines (a signaling
    compound for inter-cell communication formerly named interleukines or lymphokines)
    which then helps activate natural killer cells and cytotoxic T-cells which will
    destroy the cells with the specifically identified antigen.

  %dt
    =link_to('Malignant Histiocytosis in the Bernese Mountain Dog: Study of the physiopathology and genetic causes','http://www.bernergarde.org/home/Articles/DrAndre_Oct2006.htm')
    %span.author Author: Dr. Catherine André
    %span.article_id Article ID# 4
  %dd
    Discussion on Malignant Histiocytosis and what is being done to find the genetic
    cause of this disease that affects so many Berners. Presented October 7, 2006 in
    Como Italy.

  %dt
    =link_to('Therapeutic Management of Malignant Histiocytic Tumors: Innovative Approaches','http://www.bernergarde.org/home/Articles/DrRutteman_Oct2006.pdf')
    %span.author Author: Dr. G. R. Rutteman
    %span.article_id Article ID# 2
  %dd
    Presentation given October 8th, 2006 in Como Italy, symposium held by SIBB
    (Società Italiana Bovaro del Bernese).
