%h2 Gesundheits-Artikel

%p
  Das folgende ist eine Sammlung von Dokumenten, Präsentationen oder andere veröffentlicht
  Artikel, die Sie von Interesse sein könnten. Mit einem Klick auf einen Artikel führt zu
  wobei es in einem neuen Fenster angezeigt.

%dl
  %dt
    =link_to('Berner-Garde-Stiftung und der Michigan State University Einrichtung einer DNA-und Gewebe-Repository','http://www.bernergarde.org/articles/html/RepositoryIntro.htm')
    %span.author Autor: Mary Maliarik, PhD, Berner-Garde Treuhänder
    %span.article_id Artikel ID# 6
  %dd
    Einführung in die neue DNA-und Gewebe-Repository wird von den etablierten
    Berner-Garde-Stiftung und der Michigan State University. Diese einzigartige
    gemeinsame Anstrengung wird erwartet, dass operative Anfang 2007.

  %dt
    =link_to('Berner-Garde-Präsentation 2006 auf der Gesundheit Symposium','http://www.bernergarde.org/Articles/html/PLComo_Page1.htm')
    %span.author Autor: Pat Long, Berner-Garde Treuhänder
    %span.article_id Artikel ID# 1
  %dd
    Pat Long PowerPoint-Präsentation für das Internet, die sich neu formatiert. Dies wurde
    die Präsentation machte sie an der Gesundheit Symposium in Como, Italien im Oktober 2006.

  %dt
    =link_to('Chromosomen, Gene und Krebs - Eine molekulare zytogenetische Ansatz zur Erforschung des malignen Histiozytose im Berner Sennenhund','http://www.bernergarde.org/Articles/html/DrBreen_Oct2006.htm')
    %span.author Autor: Dr. Matthew Breen & Tessa Breen
    %span.article_id Artikel ID# 7
  %dd
    Dr. Breen's Forschung beinhaltet bei genetischen Veränderungen suchen, die verbunden sind
    mit Krebserkrankungen. Insbesondere seinem Labor an, wie das Genom sieht 'gemischt'
    während der Krebs Prozess. Wie Zellen replizieren, Chromosomen manchmal neu anordnen;
    Dies gilt insbesondere mit Krebs. Chromosomen können verloren gehen, können sie zu bewegen,
    oder sie können zu duplizieren. Diese chromosomale Aberrationen sind Markenzeichen des Gens
    Deregulierung und genomische Instabilität. Dies kann zu einer Deregulierung des Bleis
    Zelle normale Funktion und die Entwicklung einer Krebserkrankung.

  %dt
    =link_to('Klinische Erfahrungen auf Tumoren der Berner Sennenhund','http://www.bernergarde.org/home/Articles/DrPaoloBuracco_Oct2006.htm')
    %span.author Autor: Prof. Paolo Buracco
    %span.article_id Artikel ID# 3
  %dd
    Prof. Buracco konzentriert seine Darstellung auf die häufigsten Tumoren des
    Berner Sennenhund. Wenn es wahr ist, dass BMDs können durch alle Arten betroffen sein
    von Tumoren, ist es auch wahr, dass bei dieser Rasse gibt es eine klare Prävalenz
    der histiozytäre Störungen (über 70% in den Erfahrungen des Autors). Auch
    es ist sein Eindruck, dass an der Veterinärmedizinischen Lehrkrankenhaus Grugliasco,
    BMDs sind für eine klinische Prüfung vorgelegt fast ausschließlich wegen
    orthopädischen oder onkologischen Erkrankungen. BMDs bestehen aus weniger als 2% aller Hunde
    geprüft.

  %dt
    =link_to('Wie in der Histio Studien teilnehmen.','http://www.bernergarde.org/Articles/html/ParticipateHistioStudies.htm')
    %span.author Autor: Dr. André, Dr. Ostrander and Dr. Breen
    %span.article_id Artikel ID# 5
  %dd
    Informationen darüber, wie man in der "Coordinated Erforschung der genetischen teilnehmen
    Ursachen der malignen Histiozytose. Diese Untersuchungen werden durchgeführt von
    Dr. Catherine André, Dr. Elaine Ostrander und Dr. Matthew Breen. Diese drei
    Studien haben von der AKC Canine Health Foundation finanziert.

  %dt
    =link_to('In vitro-Studien von zytotoxische Aktivität der natürlichen Killerzellen (NK) und Lymphokin-aktivierten Killer (LAK) Zellen aus dem Blut von Hunden stammen','http://www.bernergarde.org/Articles/html/DrBurkhardt_Oct2006.htm')
    %span.author Autor: Dr. E. Burkhardt
    %span.article_id Artikel ID# 8
  %dd
    Das Immunsystem produziert Zellen, um einen Angriff gegen alle Zellen gesehen als Halterung
    Außen-, oder Antigenen. Besonders zwei verschiedene Arten von Lymphozyten oder NK
    natürliche Killerzellen, und Tc oder zytotoxische T-Zellen (- wo zytotoxischen bedeutet, dass es
    ist giftig für Zellen) zeigen diese Fähigkeit. Das Immunsystem ist komplex und hängt
    eine Reihe von verschiedenen Arten von Reaktionen auf Antigene. Eine bestimmte Art von
    Antwort bezieht T-Zellen (T-Helfer-Zellen) produziert Zytokine (eine Signalisierung
    Verbindung zur Inter-Zell-Kommunikation ehemals Interleukine oder Lymphokine)
    die dann hilft aktivieren natürliche Killerzellen und zytotoxische T-Zellen, die werden
    zerstören die Zellen mit dem Antigen spezifisch identifiziert.

  %dt
    =link_to('Maligne Histiozytose im Berner Sennenhund: Untersuchung der Pathophysiologie und genetische Ursachen','http://www.bernergarde.org/home/Articles/DrAndre_Oct2006.htm')
    %span.author Autor: Dr. Catherine André
    %span.article_id Artikel ID# 4
  %dd
    Diskussion über Maligne Histiozytose und was wird getan, um der Suche nach den genetischen
    Ursache dieser Krankheit, die so viele Berners auswirkt. Präsentiert 7. Oktober 2006 in
    Como Italien.
 
  %dt
    =link_to('Therapeutisches Management Maligner Tumoren Histiozytäre: Innovative Ansätze','http://www.bernergarde.org/home/Articles/DrRutteman_Oct2006.pdf')
    %span.author Autor: Dr. G. R. Rutteman
    %span.article_id Artikel ID# 2
  %dd
    Präsentation gegeben 8. Oktober 2006 in Como Italien, Symposium statt SIBB
    (Società Italiana del Bovaro Berner).
