%h2 Gezondheid Artikelen

%p
  Het volgende is een verzameling van documenten, presentaties of andere gepubliceerde
  artikelen die u kunt vinden van belang. Klik op een artikel zal resulteren in
  het wordt weergegeven in een nieuw venster.

%dl
  %dt
    =link_to('Berner-Garde Stichting en Michigan State University Opzetten van een DNA en Weefsel Repository','http://www.bernergarde.org/articles/html/RepositoryIntro.htm')
    %span.author Auteur: Mary Maliarik, PhD, Berner-Garde Regent
    %span.article_id Artikel ID# 6
  %dd
    Inleiding tot de nieuwe DNA en weefsel Repository wordt vastgesteld door de
    Berner-Garde Stichting en Michigan State University. Dit unieke
    gezamenlijke inspanning zal naar verwachting operationeel zijn in het begin van 2007.

  %dt
    =link_to('Berner-Garde presentatie op de 2006 Gezondheid Symposium','http://www.bernergarde.org/Articles/html/PLComo_Page1.htm')
    %span.author Auteur: Pat Long, Berner-Garde Regent
    %span.article_id Artikel ID# 1
  %dd
    Pat Long PowerPoint-presentatie geformatteerd voor Internet te bekijken. Dit was
    de presentatie maakte ze in het gezondheidscentrum symposium in Como, Italië in oktober 2006.

  %dt
    =link_to('Chromosomen, genen en kanker - Een moleculaire cytogenetische aanpak van de studie van kwaadaardige histiocytose in het Berner Sennenhond','http://www.bernergarde.org/Articles/html/DrBreen_Oct2006.htm')
    %span.author Auteur: Dr. Matthew Breen & Tessa Breen
    %span.article_id Artikel ID# 7
  %dd
    Dr Breen's onderzoek gaat kijken naar genetische veranderingen die geassocieerd zijn
    met kanker. In het bijzonder zijn laboratorium kijkt naar hoe het genoom is 'geschud'
    tijdens de kanker proces. Als cellen repliceren, chromosomen soms te herschikken;
    dit geldt met name met kanker. Chromosomen kunnen verloren gaan, ze kunnen bewegen,
    of ze kunnen dupliceren. Deze chromosomale afwijkingen zijn kenmerken van gen
    deregulering en genomische instabiliteit. Dit kan leiden tot deregulering van de
    cel normale functie en de ontwikkeling van een kanker.

  %dt
    =link_to('Klinische Ervaring op tumoren van de Berner Sennenhond','http://www.bernergarde.org/home/Articles/DrPaoloBuracco_Oct2006.htm')
    %span.author Auteur: Prof. Paolo Buracco
    %span.article_id Artikel ID# 3
  %dd
    Prof Buracco richtte zijn presentatie op de meest voorkomende tumoren van het
    Berner Sennenhond. Als het waar is dat BMDs kan worden beïnvloed door alle soorten
    van tumoren, het is ook waar dat er in dit ras is er een duidelijke prevalentie
    van de histiocytaire aandoeningen (meer dan 70% in de ervaring van de auteur). Ook,
    het is zijn indruk dat bij het Veterinair Teaching Hospital van Grugliasco,
    BMDs wordt gepresenteerd voor een klinisch onderzoek bijna uitsluitend als gevolg van
    orthopedische of oncologische aandoeningen. BMDs bestaat uit minder dan 2% van alle honden
    onderzocht.

  %dt
    =link_to('Hoe deel te nemen in de Histio studies.','http://www.bernergarde.org/Articles/html/ParticipateHistioStudies.htm')
    %span.author Auteur: Dr. André, Dr. Ostrander and Dr. Breen
    %span.article_id Artikel ID# 5
  %dd
    Informatie over hoe u kunt gecoördineerd onderzoek deel te nemen in de genetische
    oorzaken van Maligne Histiocytose. Deze studies worden uitgevoerd door
    Dr Catherine Andre, Dr Elaine Ostrander en Dr Matthew Breen. Deze drie
    studies zijn gefinancierd door de AKC Canine Health Foundation.

  %dt
    =link_to('In vitro studies van de cytotoxische activiteit van Natural Killer (NK) en lymfokine-Activated Killer (LAK) cellen verkregen uit het bloed van honden','http://www.bernergarde.org/Articles/html/DrBurkhardt_Oct2006.htm')
    %span.author Auteur: Dr. E. Burkhardt
    %span.article_id Artikel ID# 8
  %dd
    Het immuunsysteem produceert cellen te monteren een aanval tegen alle cellen gezien als
    buitenlandse, of antigenen. Vooral twee soorten lymfocyten van de NK-of
    natural killer cellen en Tc of cytotoxische T-cellen (- waar cytotoxische betekent dat het
    is giftig voor cellen) tonen deze mogelijkheid. Het immuunsysteem is complex, en koppelt
    een aantal verschillende soorten reacties op antigenen. Een specifiek type
    reactie gaat T-cellen (T-helper cellen) de productie van cytokines (een signaalfunctie
    compound voor inter-cel communicatie voorheen interleukinen of lymfokinen)
    dat helpt dan te activeren natural killer cellen en cytotoxische T-cellen die
    vernietigen van de cellen met de specifiek geïdentificeerde antigeen.

  %dt
    =link_to('Maligne Histiocytose in het Berner Sennenhond: Studie van de fysiopathologie en de genetische oorzaken','http://www.bernergarde.org/home/Articles/DrAndre_Oct2006.htm')
    %span.author Auteur: Dr. Catherine André
    %span.article_id Artikel ID# 4
  %dd
    Discussie over Maligne Histiocytose en wat wordt er gedaan om het vinden van de genetische
    oorzaak van deze ziekte die zo veel Berners beïnvloedt. Gepresenteerd 07 oktober 2006 in
    Como Italië.

  %dt
    =link_to('Therapeutische Behandeling van Kwaadaardige Tumoren Histiocytaire: een Vernieuwende Aanpak','http://www.bernergarde.org/home/Articles/DrRutteman_Oct2006.pdf')
    %span.author Auteur: Dr. G. R. Rutteman
    %span.article_id Artikel ID# 2
  %dd
    Presentatie gegeven 08 oktober 2006 in Como Italië, symposium gehouden door SIBB
    (Società Italiana del Bovaro Berner).
