%h2 Donate to Berner-Garde

%p
  All of us who are "owned" by Bernese Mountain Dogs (and those of us who wish to be
  owned by BMDs) want our dogs to have a superior quality of life for as many years
  as possible.  In order to help accomplish this goal,  Berner-Garde Foundation has
  established an open database for genetic tracking, a health information center, and
  has also supported university research for diseases that are genetically present in
  our breed. 

%p
  Although the "people-work" for these efforts is done by volunteers, technological
  hardware/software, website expenses and normal foundation business expenses depend
  on the generosity of Berner-loving people	like you. Funding for Berner-Garde comes
  from fund-raising projects, donations and In Memorium/In Honor/With Gratitude Gifts. 

%p
  Berner-Garde is a not for profit 501 c 3 organization which means that your donation
  is tax deductible. Please send your contribution to:

%p.contact
  Berner-Garde Treasurer<br />
  23095 Hilliard Blvd.<br />
  Westlake, OH 44145

%p
  Financial records for the Berner-Garde Foundation are available on request at the
  above location.

.notice
  %h3 Donate by shopping or searching!

  %p
    Did you know you could donate to Berner-Garde just by using the Internet?
    GoodSearch is a company dedicated to helping non-profit organizations like
    Berner-Garde make money. Berner-Garde is registered with GoodSearch and makes
    money whenever you do an Internet search through them or make a purchase from
    one of their many retail partners that you may already patronize.

  %p The way this works is as follows:

  %ol
    %li
      Go to
      =link_to('www.goodsearch.com','http://www.goodsearch.com/?charityid=828615')
      and enter Berner-Garde Foundation in the space provided for your charity
      and click verify. You only need to do this one time to set your preference.
    %li
      Whenever you search the web via GoodSearch (powered by Yahoo Search),
      Berner-Garde will receive a small donation.
    %li
      Additionally, if you click on retailers from the GoodShop page (
      =link_to('www.goodsearch.com/goodshop.aspx','http://www.goodsearch.com/goodshop.aspx?charityid=828615')
      ) and make a purchase, the retailer will donate a percentage of the purchase
      amount to Berner-Garde!  These are some very well known retailers like
      Amazon.com, Dell, Land's End, Dr's Foster and Smith and even Pet Smart!
      If you are doing any online shopping, please help Berner-Garde and go to your
      online retailer through the GoodShop page. It's just one extra click!
    %li
      You can also use the GoodSearch search box located here on this page as well as the Berner-Garde
      home page.
