%h2 Doneren aan Berner-Garde

%p
  Ieder van ons die zijn "eigendom" van Berner Sennen honden (en die van ons die wensen te worden
  eigendom van BMDs) willen dat onze honden een hogere kwaliteit van leven voor zo vele jaren
  mogelijk te maken. Om te helpen dit doel te bereiken, Berner-Garde Stichting heeft
  vastgesteld van een open database voor het bijhouden van genetische, een informatie over gezondheid centrum, en
  heeft ook steun verleend universitair onderzoek voor ziekten die genetisch aanwezig zijn in
  ons ras.

%p
  Hoewel de "people-werk" voor deze inspanningen wordt gedaan door vrijwilligers, technologische
  hardware / software, website kosten en de normale stichting bedrijfskosten af
  op de vrijgevigheid van de Berner-liefhebbende mensen zoals jij. Financiering voor Berner-Garde komt
  van fondsenwerving projecten, donaties en In Memorium / In Honor / Met dank Gifts.

%p
  Berner-Garde is een not for profit 501 c 3 organisatie die dat uw donatie betekent
  is fiscaal aftrekbaar. Stuur dan uw bijdrage naar:

%p.contact
  Berner-Garde Treasurer<br />
  23095 Hilliard Blvd.<br />
  Westlake, OH 44145

%p
  Financiële administratie voor de Berner-Garde Stichting zijn beschikbaar op aanvraag bij de
  bovenstaande locatie.

.notice
  %h3 Doneren door te shoppen of zoeken!

  %p
    Wist u dat u kon om Berner-Garde doneren alleen door het gebruik van internet?
    GoodSearch is een bedrijf dat zich toelegt op het helpen van non-profit organisaties zoals
    Berner-Garde geld te verdienen. Berner-Garde is geregistreerd bij GoodSearch en maakt
    geld wanneer je een internet te zoeken via hen of een aankoop uit
    een van hun vele retail partners die u wellicht al betuttelen.

  %p De manier waarop dit werkt is als volgt:

  %ol
    %li
      Ga naar
      =link_to('www.goodsearch.com','http://www.goodsearch.com/?charityid=828615')
      en Berner-Garde Stichting te voeren in de ruimte voor je goede doel
      en klik op controleren. U hoeft alleen maar deze ene keer om uw voorkeuren op te doen.
    %li
      Wanneer u zoeken op het web via GoodSearch (powered by Yahoo Search),
      Berner-Garde krijgt een kleine donatie.
    %li
      Bovendien, als u klikt op de detailhandel van de GoodShop pagina (
      =link_to('www.goodsearch.com/goodshop.aspx','http://www.goodsearch.com/goodshop.aspx?charityid=828615')
      ) en een aankoop doet, zal de retailer doneren een percentage van de aankoopprijs
      bedrag Berner-Garde! Dit zijn enkele zeer bekende retailers zoals
      Amazon.com, Dell, Land's End, Dr Foster's en Smith en zelfs Pet Smart!
      Als je aan het doen zijn alle online winkelen, please help Berner-Garde en ga naar uw
      online retailer via de GoodShop pagina. Het is gewoon een extra klik!
    %li
      U kunt ook gebruik maken van de GoodSearch zoekvak zich hier op deze pagina evenals de Berner-Garde
      home page.
