%h2 Spenden Sie für Berner-Garde

%p
  Alle von uns, "besessen " von Berner Sennenhunde (und diejenigen von uns, sein wollen
  Besitz von BMDs) wollen, dass unsere Hunde eine gehobene Qualität des Lebens für so viele Jahre haben
  wie möglich. Um zu helfen, dieses Ziel zu erreichen, hat Berner-Garde-Stiftung
  etabliert eine offene Datenbank für genetische Tracking, ein Gesundheits-Informationszentrum und
  hat auch der universitären Forschung für Krankheiten, die genetisch in unterstützt
  unserer Rasse.

%p
  Obwohl die "Menschen-Arbeit" für diese Bemühungen von Freiwilligen, technologische getan
  Hardware / Software-, Website-Aufwendungen und normal Stiftung Betriebsausgaben ab
  auf die Großzügigkeit der Berner-liebenden Menschen wie Sie. Finanzierung für Berner-Garde kommt
  von Fundraising-Projekten, Spenden und In Memorium / In Honor / mit Dankbarkeit Geschenke.

%p
  Berner-Garde ist eine nicht gewinnorientierte 501 c 3 Organisation, dass Ihre Spende bedeutet
  ist steuerlich abzugsfähig. Bitte senden Sie Ihren Beitrag an:

%p.contact
  Berner-Garde Treasurer<br />
  23095 Hilliard Blvd.<br />
  Westlake, OH 44145

%p
  Finanzielle Datensätze für die Berner-Garde-Stiftung sind auf Anfrage erhältlich bei der
  über Standort.

.notice
  %h3 Spenden durch Einkaufen oder suchen!

  %p
    Wussten Sie, Sie können sich auf Berner-Garde nur über das Internet zu spenden?
    GoodSearch ist ein Unternehmen zu helfen, Non-Profit-Organisationen wie
    Berner-Garde Geld zu verdienen. Berner-Garde ist mit GoodSearch registriert und macht
    Geld, wann immer Sie wollen eine Internet-Suche durch sie oder einen Kauf von
    einem ihrer vielen Handelspartnern, die Sie bereits bevormunden kann.

  %p Das funktioniert wie folgt:

  %ol
    %li
      Zur
      =link_to('www.goodsearch.com','http://www.goodsearch.com/?charityid=828615')
      und geben Berner-Garde-Stiftung in den Raum für Ihre Nächstenliebe vorgesehen
      und klicken Sie überprüfen. Sie müssen nur dieses eine Mal nach Ihren Wünschen eingestellt tun.
    %li
      Wann immer Sie suchen, finden über GoodSearch (powered by Yahoo Search)
      Berner-Garde erhalten eine kleine Spende.
    %li
      Außerdem, wenn Sie auf die Einzelhändler auf der Seite GoodShop (
      =link_to('www.goodsearch.com/goodshop.aspx','http://www.goodsearch.com/goodshop.aspx?charityid=828615')
      ) und einen Kauf tätigen, wird der Händler spenden einen Prozentsatz des Kaufpreises
      belaufen sich auf Berner-Garde! Dies sind einige sehr bekannte Einzelhändler wie
      Amazon.com, Dell, Land's End, Dr.'s Foster and Smith und sogar Pet Smart!
      Sie sind dabei keine Online-Shopping, bitte helfen Berner-Garde und gehen Sie zu Ihrem
      Online-Händler durch die GoodShop Seite. Es ist nur eine zusätzliche Klick!
    %li
      Sie können auch die GoodSearch Suchfeld hier auf dieser Seite befindet sich ebenso wie die Berner-Garde
      Home Page.
