%h2 Was ist die Berner-Garde-Stiftung?

%p
  Die Berner-Garde-Stiftung wurde gegründet, um zu sammeln, zu pflegen und
  Verbreitung von Informationen über genetische Krankheiten beobachtet in der Berner Sennenhund
  Dog. Die BGF ist eine freiwillige Board of Directors, mehrere Ausschüsse bestehen
  und um es Kern, eine EDV-Datenbank. Die Datenbank enthält Informationen
  die seit vielen Jahren von <b>freiwillige Beiträge</b> von zusammengestellt
  Daten von Eigentümern und aus anderen öffentlichen Quellen von Informationen, einschließlich der
  Orthopedic Foundation for Animals (OFA) und der Canine Eye Registration
  Foundation (CERF).

%p
  Die Angaben in den Berner-Garde-Datenbank ist nun öffentlich zugänglich online kostenlos für jedermann.
  Besitzer, Züchter und Welpenkäufer kann die Datenbank für die Forschung Stammbäume und wie bestimmte Hunde verwenden könnte passen
  in eine Zucht-oder Welpen Kaufentscheidung. Veterinäre und Forscher, die arbeiten, um genetische Erkrankung verringern
  in der Berner Sennenhund können Informationen in die Datenbank zugreifen und sind herzlich eingeladen, Berner-Garde Ansprechpartner für
  zusätzliche Unterstützung. Klicken Sie auf den unteren Menüpunkt (links) auf die Datenbank zugreifen.

%p
  Neben der Pflege der Datenbank, unterstützt die Berner-Garde-Stiftung
  Studien zur Verringerung der gesundheitlichen Probleme sollen gefunden in Berner
  Sennenhunde. Antragsberechtigt sind auf einer Fall-zu-Fall genehmigt
  Grundlage des Board of Directors.

%p
  =link_to(content_tag(:b, 'Die Berner-Garde Informationsbroschüre ist jetzt online verfügbar'), 'brochure.pdf')
  (große datei - 600kb download)
                  
%p
  Die Broschüre benötigt eine aktuelle Version des Adobe Reader zum Anzeigen. Sie können
  diese kostenlos herunterladen, indem Sie auf den Link rechts.
  =link_to(image_tag('GetAdobeReader.gif'), 'http://www.adobe.com/products/acrobat/readstep2.html')
