%h2 What is the Berner-Garde Foundation?

%p
  The Berner-Garde Foundation was established to collect, maintain and 
  disseminate information about genetic diseases observed in the Bernese Mountain 
  Dog. The BGF is comprised of a voluntary Board of Directors, several committees 
  and, at it's core, a computerized database. The database contains information 
  which has been compiled over many years from <b>voluntary submissions</b> of 
  data from owners and from other public sources of information, including the 
  Orthopedic Foundation for Animals(OFA) and the Canine Eye Registration 
  Foundation(CERF).

%p
  The information in the Berner-Garde Database is now publicly available online, free of charge to everyone. 
  Owners, breeders and puppy buyers can use the database to research pedigrees and how certain dogs might fit 
  into a breeding or puppy buying decision. Veterinarians and researchers who are working to reduce genetic disease 
  in the Bernese Mountain Dog can access information in the database and are welcome to contact Berner-Garde for 
  additional assistance. Click on the bottom menu item (left) to access the database.

%p
  In addition to maintaining the database, the Berner-Garde Foundation supports 
  research studies aimed at reducing the health problems found in Bernese 
  Mountain Dogs. Research proposals are approved on a case-by-case 
  basis by the Board of Directors.

%p
  =link_to(content_tag(:b, 'The Berner-Garde Information Brochure is now available online'), 'brochure.pdf')
  (large file - 600kb download)
                  
%p
  The brochure requires a current version of Adobe Reader to view. You can get
  this download for free by clicking on the link to the right.
  =link_to(image_tag('GetAdobeReader.gif'), 'http://www.adobe.com/products/acrobat/readstep2.html')
