%h2 Wat is de Berner-Garde Foundation?

%p
  De Berner-Garde stichting is opgericht om te verzamelen, en te onderhouden
  verspreiden van informatie over genetische ziekten waargenomen in de Berner Sennen
  Hond. Het BGF bestaat uit een vrijwillige Raad van Bestuur, diverse commissies
  en, op zijn kern, een geautomatiseerd gegevensbestand. De database bevat informatie
  dat is samengesteld gedurende vele jaren van <b>vrijwillige inzendingen</b>
  gegevens van eigenaren en uit andere openbare bronnen van informatie, met inbegrip van de
  Orthopedische Stichting voor Dieren (OFA) en de Canine Eye Registratie
  Stichting (CERF).

%p
  The information in the Berner-Garde Database is now publicly available online, free of charge to everyone. 
  Owners, breeders and puppy buyers can use the database to research pedigrees and how certain dogs might fit 
  into a breeding or puppy buying decision. Veterinarians and researchers who are working to reduce genetic disease 
  in the Bernese Mountain Dog can access information in the database and are welcome to contact Berner-Garde for 
  additional assistance. Click on the bottom menu item (left) to access the database.

%p
  De informatie in het Berner-Garde Database is nu publiek beschikbaar online, gratis voor iedereen.
  Eigenaren, fokkers en puppy kopers kunnen gebruik maken van de database om onderzoek stambomen en hoe bepaalde honden zou kunnen passen
  in een fok of puppy kopen beslissing. Dierenartsen en onderzoekers die werken aan een genetische ziekte te verminderen
  in het Berner Sennenhond toegang hebben tot informatie in de database en zijn van harte welkom om Berner-Garde contact voor
  aanvullende bijstand. Klik op de onderste menu-item (links) toegang tot de database.

%p
  =link_to(content_tag(:b, 'De Berner-Garde Informatiebrochure is nu online beschikbaar'), 'brochure.pdf')
  (groot bestand - 600kb download)
                  
%p
  De brochure moet een actuele versie van Adobe Reader te bekijken. Je kunt krijgen
  deze gratis downloaden door te klikken op de link aan de rechterkant.
  =link_to(image_tag('GetAdobeReader.gif'), 'http://www.adobe.com/products/acrobat/readstep2.html')
