%h2= t('operators.heading')

%p= t('operators.overview')

%ul
  %li
    %span.name Maria Crifasi
    %span.addr 4050 Garfield Road, Smithsburg MD 21783
    %span.phone 301-416-0565
    %span.email mcrifasi@hughes.net

  %li
    %span.name Lisbeth Plant
    %span.addr Semley House 1462 Mile End Road Box 351, Cobble Hill, BC V0R 1L0, Canada
    %span.email billisbeth@shaw.ca

  %li
    %span.name Esther Wilson
    %span.addr PO Box 25, Endicott WA 99125
    %span.phone 509-657-3853
    %span.email ewilsonwa@aol.com

  %li
    %span.name Sylvia Katvala
    %span.addr 10469 East Rose Hill St, Tucson AZ 85747
    %span.phone 520-546-9230
    %span.email skatvala@cox.net

  %li
    %span.name Renee Jacquier
    %span.addr 21415 Bentgrass Court, Katy TX 77450
    %span.phone 281-398-4481
    %span.email RJacq16804@aol.com

  %li
    %span.name Susan Ablon
    %span.addr 12013 Seagoville Road, Balch Springs TX 75180
    %span.phone 972-286-0117
    %span.email gwebara@sbcglobal.net

  %li
    %span.name Ian Instone
    %span.addr 3 Barkston Ave, Thornby-On-Tees, North Yorkshire TS17 0LE, Great Britain
    %span.phone 00 44 1642 762185
    %span.email instonejil@aol.com

  %li
    %span.name Tuuli Yrjönen
    %span.addr Tähkäkuja 5 L 152, 01370 Vantaa, Finland
    %span.phone +358 50 4345205
    %span.email tuuli.yrjonen@gmail.com

  %li
    %span.name Dorin Braun
    %span.addr Schönbuchstr. 20, 72202 Nagold, Germany
    %span.phone +49 7459 1748
    %span.email doris.r.braun@t-online.de

  %li
    %span.name Joseph Van Hummelen
    %span.addr Leliestraat 12, Rijmenam 2820, Belgium
    %span.phone +32 15 33 05 38
    %span.email secretariaat@bkzs.net

  %li
    %span.name Jane Sherris
    %span.addr #69 3295 Sunnyside Road, Anmore, BC V3H 4Z4, Canada
    %span.email BuntzenBerner@telus.net

  %li
    %span.name Mie Kingsley
    %span.addr P.O. Box 12, Belmont VT 05730
    %span.phone 802-259-2599
    %span.email mkingsley@cloud9.net

  %li
    %span.name Roxanne Bortnick
    %span.addr 1922 Cherry Lane, Johnstown CO 80534
    %span.phone 970-587-5909
    %span.email bernese@mail.warpdriveonline.com

  %li
    %span.name Ron Smith
    %span.addr 2501 Ganaraska Rd, RR #1, Cambellcroft, ON Canada, LOA 1B0
    %span.phone 905-797-2373
    %span.fax 905-797-2626
    %span.email rfsmith@eagle.ca

  %li
    %span.name Ann Skinner
    %span.addr 109 Washington Rd, Scotia NY 12302
    %span.phone 518-377-4601
    %span.email dairberner@aol.com

  %li
    %span.name Andrea Brin
    %span.addr 691 Sutton Rd, Shavertown PA 18708
    %span.phone 570-696-6896
    %span.email healthyoptions@brin.org

  %li
    %span.name Adam Conn
    %span.addr 93 Acton St., Maynard MA 01754
    %span.email adamconn@aol.com

  %li
    %span.name Mary Maliarik
    %span.addr 5894 Earhard Road, Ann Arbor MI 48105
    %span.phone 734-995-1856
    %span.email mmaliarik@aol.com

  %li
    %span.name Jeannie Whitton-Smith
    %span.addr 9651 Lancaster Circleville Rd, Amanda OH 43102
    %span.phone 740-969-4924
    %span.email hoosierroos@gmail.com

  %li
    %span.name Dianne Atkins
    %span.addr 40 Lynn Fells Parkway, Saugus MA 01906
    %span.phone 781-233-6524
    %span.email berners@myoties.us

%p= t('operators.questions')

%ul
  %li
    %span File Manager:
    %span.name Pat Long
    %span.fax Berner-Garde Fax: 866-234-4345 (US and Canada only)
    %span.email filemanager@bernergarde.org
