%h2 Berner Sennenhund DNA-und Gewebe-Repository - Weitere Informationen

%h4.short Die Vision
%p
  Zur Erleichterung der Gesundheit Forschung über genetische Krankheiten Berner Sennenhund
  Hunde hatten die Berner-Garde-Stiftung (BGF) ein Ziel der Schaffung eines Repository
  von DNA-und Tumorgewebe das wäre zu ergänzen die Ahnentafel und der aktuellen medizinischen
  Informationen in der Berner-Garde-Datenbank gespeichert. Es war vorgesehen, dass diese
  könnte den Forschern eine zuverlässige Quelle für Informationen, wenn sie könnten
  rasch beginnen ihr Studium ohne Setup die Infrastruktur für
  jeder Forscher mit diesen Informationen über ihre eigenen zu sammeln. BGF Präsident,
  Lori Jodar und Treuhänder, Mary Maliarik hatte sehr hart gearbeitet an diesem Projekt
  für eine Reihe von Jahren und waren die treibende Kraft hinter der Vision. Dieses Ziel
  Wirklichkeit geworden im Herbst 2006, als die Berner-Garde-Stiftung (BGF)
  und der Michigan State University (MSU), mit Unterstützung der Berner Sennenhund
  Dog Club of America (BMDCA) unterzeichnete einen Vertrag mit einer DNA und Tumor etablieren
  Tissue Repository an der Michigan State University untergebracht werden.

%h4.short Machen's Möglich
%p
  Die Arbeit wurde über den Winter des Jahres 2006 getan werden, um die Infrastruktur für die Einrichtung
  Repository sowie die Prozesse und Verfahren, die befolgt werden würde.
  Unter der Leitung von Dr. Vilma Yuzbasiyan-Gürkan, die Repository-Co-Sponsor
  an der MSU, war die richtige ultra-niedrige Temperatur Gefrierschrank ausgewählt und bestellt werden. Diese
  Gefrierschrank ist speziell für die Lagerung von biologischen Proben bei -80 Grad ausgelegt
  Celsius. Die BMDCA großzügig bezahlte für die Tiefkühltruhe.

%p
  Auch im Winter 2006 wurde die Berner-Garde-Datenbank erweitert, um auch
  die Fähigkeit der Erfassung und Verfolgung aller eingereichten Proben. Dies beinhaltete die
  Einbau von Niedrigtemperatur-Barcode-Etiketten und einem Handscanner
  in die Registrierung und Identifizierung jeder Probe Beihilfe. Die Arbeit am Computer wurde von BGF getan
  Treuhänder Gary Galunas und implementiert die Funktionen als kollaborative entworfen
  Anstrengung der gesamten Repository-Team. Die eingereichten Proben werden tatsächlich verbunden
  einen Hund Rekord in Berner-Garde-Datenbank, so dass die Abstammungs-und Gesundheitsinformationen
  liegt direkt an der Hand.

%p
  Das Team der Michigan State University wird gemeinsam von Dr. Vilma Yuzbasiyan-Gurkan Leitung
  ein Genetiker, und Dr. Matti Kiupel, einen Pathologen. Beide Forscher haben eine lange
  und eindrucksvolle Geschichte für Beiträge zur Kranken-und Eckzahn wurden
  Zusammenarbeit ausführlich über die letzten 5 Jahre für Forschungen auf verschiedene Aspekte
  von Krebs. Dr. Yuzbasiyan-Gurkan ist Associate Professor in der Abteilung
  Small Animal Clinical Sciences an der Hochschule für Veterinärmedizin und betreibt das
  =link_to('Labor Molekulare Medizin und Genetik Canine','http://mmg.msu.edu/')
  \. Dr. Kiupel ist Associate
  Professor im Department für Pathobiologie und Diagnostik sowie
  als Direktor des Immunohistopathology Labor und Biopsie Service im MSU
  Diagnostic Center for Population und Tiergesundheit (
  =link_to('DCPAH','http://www.animalhealth.msu.edu/')
  ) Die Prozesse und
  Verfahren zum Auffangen der Proben wurden durch die Bemühungen von BGF gearbeitet
  Treuhänder Mary Maliarik, PhD und die MSU-Team. Zwei lizenzierte Veterinary Techniker,
  Marlee Richter und Sharon Laird, kam an Bord zu diesem Zeitpunkt über die lernen
  Repository und die Personen Verarbeitung Repository Einreichungen auf einer täglichen Basis.
  Viele von Ihnen können direkt mit Marlee oder Sharon mitgeteilt haben, als sie mit dazu beigetragen,
  das Blut bei der 2007 BMDCA National Specialty in Louisville zu ziehen und haben dazu beigetragen,
  viele Berner Besitzer mit der Komplexität der Vorlage gefrorenen Gewebeproben.
  
%h4.short Erste Sammlungen
%p
  Die ersten Proben für das Repository gesammelt wurden bei der jährlichen Wahlen
  Treffen für das Herz von Michigan BMDC im April 2007. Das war unser "Testlauf"
  in Vorbereitung für die Blutentnahme, die einen Monat später in Louisville getan.
  Diese ersten beiden Veranstaltungen waren erfolgreich Sammlung jenseits unserer Träume. An der
  Michigan Clubtreffen wir gesammelte Blut-und Wangenabstriche von 48 Hunden und bei
  National in Louisville sammelten wir von 157 Hunden. Wir hatten gedacht, wir würden
  200 Einreichungen erhalten im ersten Jahr und wir tatsächlich übertroffen, dass im ersten Monat!

%p
  Als zusätzliche Note, bei der ersten Blutentnahme an ihren Club-Treffen,
  the Heart of Michigan BMDC einen Scheck zu Berner-Garde in der Höhe von
  $ 5.000 für die Finanzierung des Repository verwendet werden. Dies entsprach 50% ihres Gewinns
  aus dem Jahr 2006 BMDCA National Specialty in Frankenmuth und war ihre Art,
  "giving back " der Berner Gemeinde, dass Spezialität unterstützt so gut.
  Lori Jodar (Präsident, BGF) und Dr. Vilma Yuzbasiyan-Gurkan (MSU) waren dort, um
  akzeptieren zu überprüfen.
  
%h4.short Wo Sind Wir Jetzt
%p
  Seit der 2007 BMDCA National Specialty in Louisville, eine Reihe von regionalen Vereinen
  haben sich freiwillig zu DNA-Probe Sammlungen tun, und das hat sich herausgestellt ein
  großer Erfolg! Die Berner-Garde-Stiftung dankt allen Vereinen, die
  organisiert haben diese Ereignisse und die wunderbare Freiwilligen in den Vereinen, die haben
  machte dies möglich.

%ul
  %li Grand Canyon State - Nancy Stewart
  %li Greater Seattle - Julie Jackson
  %li Greater Twin Cities - Debby Wilkins
  %li Heart of Michigan - Mary Maliarik
  %li Lone Star - Beverly Hilmes
  %li Northern California - Cindy Beckman

%p
  Ab dem Frühjahr 2010 hatten wir 1160 vorlegen Hunde Proben an das Repository.
  Das ist eine wirklich tolle Reaktion der Berner Gemeinde, und wir danken
  Alle diese Hunde und Besitzer für einen Beitrag.

%h4.short Going Forward
%p
  Unsere Herausforderung voran für mehr Berner Besitzer eingefroren Tumor einreichen
  Gewebeproben. Wir verstehen, dass die Verfahren zur Gewinnung verwendbaren gefroren
  Tumorproben ist komplex und schwierig, aber das sind die Proben, die
  äußerst nützlich für die Forschung. Dies ist typischerweise auch eine Zeit großer Stress
  für die Besitzer, deren Hunde haben mit einer schweren Krankheit diagnostiziert worden. Wir sind aktiv
  daran, die Anweisungen und Verfahren einfacher und leichter zu verstehen
  und es ist unsere Hoffnung, dass mehr Berner Besitzer die Mühe machen beitragen
  diese Arten von Proben.
  
%p.intermission Für die Liebe eines Berner ...

%h4.short Wie reiche ich eine Probe?
%p
  Sie müssen, füllen Sie ein Anmeldeformular und liefert eine Kopie des Formulars an
  mit der Probe zu MSU. Sie können entweder ausdrucken und ausfüllen der Vorlage Form
  befindet sich auf
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view')
  oder füllen Sie das Online-Formular befindet sich auf
  =link_to('bernergarde.org/dbaccess/DTR_OnlineSubmission.aspx','#')
  \. Die Formen sieht kompliziert aus, aber füllen Sie so viel Sie können. Besitzer und Hund
  Name und Nummer der Eintragung erforderlich sind. Der Rest kann später erfolgen. Alle
  Einreichungen sollten nach den Anweisungen für die Art der per Post zugestellt
  Unterwerfung. Dies kann in der rechten Spalte der Tabelle befindet sich im Internet unter
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')
  \.

%p
  Ship alle Proben:<br />
  Dr.Vilma Yuzbasian-Gurkan<br />
  2209 Biomedical Physical Sciences<br />
  Michigan State University<br />
  East Lansing, MI 48824

%h4.short Was ist mit dem MSU Diagnostic Center for Population und Tiergesundheit?
%p
  Michigan State University hat ein Weltklasse-Veterinär-Diagnostik-Zentrum, das
  Diagnostic Center für Bevölkerung und Tiergesundheit (DCPAH). Wegen ihrer
  Vollständigkeit, Genauigkeit und schnelle Durchlaufzeiten, empfehlen wir dringend Hilfe
  DCPAH für Diagnostik auf allen Berner Tumoren. Ihr Tierarzt sollte
  wissen, wie Formalin fixiert Gewebeproben zur Diagnose Schiff. Für mehr
  Informationen, besuchen Sie die Website DCPAH:
  =link_to('www.animalhealth.msu.edu','www.animalhealth.msu.edu')
  \. 

%p
  Es ist wichtig zu bedenken, dass das Repository gespeichert Proben für Forschung
  und führt keine Diagnosen. Alle gefrorenen Tumorgewebe müssen eine genaue
  Diagnose mit sich entweder aus DCPAH findet oder anderen diagnostischen Labor
  Ihrer Wahl. Einreichung von DNA oder gefrorenem Gewebe in das Repository wird subventioniert
  von der BGF und BMDCA (Eigentümer zahlt nur für die Schifffahrt), während die Besitzer
  verantwortlich ist verantwortlich für alle Kosten im Zusammenhang mit Diagnose / Autopsie findet.
