%h2 Bernese Mountain Dog DNA and Tissue Repository - Additional Information

%h4.short The Vision
%p
  To facilitate health research on genetic diseases affecting Bernese Mountain
  Dogs, the Berner-Garde Foundation (BGF) had a goal of creating a repository
  of DNA and tumor tissue that would augment the pedigree and current medical
  information stored in the Berner-Garde Database. It was envisioned that this
  could give researchers a reliable source of information where they could
  rapidly begin their studies without having to setup the infrastructure for
  each researcher to collect this information on their own. BGF President,
  Lori Jodar and Trustee, Mary Maliarik, had worked very hard on this project
  for a number of years and were the driving force behind the vision. This goal
  became a reality in the fall of 2006 when the Berner-Garde Foundation (BGF)
  and Michigan State University (MSU), with support from the Bernese Mountain
  Dog Club of America (BMDCA) signed a contract to establish a DNA and Tumor
  Tissue Repository to be housed at Michigan State University.

%h4.short Making It Happen
%p
  Work was done over the winter of 2006 to establish the infrastructure for the
  repository as well as the processes and procedures that would be followed.
  Under the leadership of Dr. Vilma Yuzbasiyan-Gurkan, the Repository co-sponsor
  at MSU, the proper ultra-low temperature freezer was selected and ordered. This
  freezer is specifically designed for storage of biological samples at -80 degrees
  Celsius. The BMDCA generously paid for the freezer. 

%p
  Also during the winter of 2006, the Berner-Garde Database was enhanced to include
  the capability of recording and tracking all submitted samples. This included the
  incorporation of special low-temperature bar coded labels and a hand-held scanner
  to aid in recording and identifying each sample. The computer work was done by BGF
  Trustee Gary Galunas and implemented the capabilities designed as a collaborative
  effort by the entire Repository team. The submitted samples are actually linked
  to a dog's record in Berner-Garde Database so the pedigree and health information
  is right at hand. 

%p
  The Michigan State University team is headed jointly by Dr. Vilma Yuzbasiyan-Gurkan,
  a geneticist, and Dr. Matti Kiupel, a pathologist. Both researchers have a long
  and impressive history for contributions to canine health and have been
  collaborating extensively over the past 5 years on research in various aspects
  of cancer. Dr. Yuzbasiyan-Gurkan is an Associate Professor in the Department of
  Small Animal Clinical Sciences at the College of Veterinary Medicine and runs the
  =link_to('Laboratory Molecular Medicine and Canine Genetics','http://mmg.msu.edu/')
  \.  Dr. Kiupel is an Associate
  Professor in the Department of Pathobiology and Diagnostic Investigation as well
  as Director of the Immunohistopathology Laboratory and Biopsy Service at the MSU
  Diagnostic Center for Population and Animal Health (
  =link_to('DCPAH','http://www.animalhealth.msu.edu/')
  ) The processes and
  procedures for collecting samples were worked out through the efforts of BGF
  Trustee Mary Maliarik, PhD and the	MSU team. Two Licensed Veterinary Technicians,
  Marlee Richter and Sharon Laird, came on board at this time to learn about the
  Repository and to be the persons processing Repository submissions on a daily basis.
  Many of you may have communicated directly	with Marlee or Sharon as they helped with
  the blood draw at the 2007 BMDCA National Specialty in Louisville and have helped
  many Berner owners with the complexities of submitting frozen tissue samples.
  
%h4.short First Collections
%p
  The first samples collected for the repository were at the annual elections
  meeting for the Heart of Michigan BMDC in April of 2007. This was our "test run"
  in preparation for the sample collection that was done a month later in Louisville.
  These first two collection events were successful beyond our dreams. At the
  Michigan club meeting we collected blood and cheek swabs from 48 dogs and at
  the National in Louisville we collected from 157 dogs. We had thought we would
  get 200 submissions the first year and we actually surpassed that in the first month! 

%p
  As an additional note, at the initial sample collection at their club meeting,
  the Heart of Michigan BMDC presented a check to Berner-Garde in the amount of
  $5,000 to be used for funding the Repository. This represented 50% of their profit
  from the 2006 BMDCA National Specialty in Frankenmuth and was their way of
  "giving back" to the Berner community that supported that specialty so well.
  Lori Jodar (President, BGF) and Dr. Vilma Yuzbasiyan-Gurkan (MSU) were there to
  accept the check.
  
%h4.short Where We Are Now
%p
  Since the 2007 BMDCA National Specialty in Louisville, a number of regional clubs
  have volunteered to do DNA sample collections and this has turned out to be a
  great success! The Berner-Garde Foundation sincerely thanks all the clubs that
  have organized these events and the wonderful volunteers in those clubs that have
  made this possible.

%ul
  %li Grand Canyon State - Nancy Stewart
  %li Greater Seattle - Julie Jackson
  %li Greater Twin Cities - Debby Wilkins
  %li Heart of Michigan - Mary Maliarik
  %li Lone Star - Beverly Hilmes
  %li Northern California - Cindy Beckman

%p
  As of the spring of 2010, we have had 1160 dogs submit samples to the Repository.
  That is a really terrific response by the Berner community and we sincerely thank
  all these dogs and owners for contributing.

%h4.short Going Forward
%p
  Our challenge moving forward is for more Berner owners to submit frozen tumor
  tissue samples. We understand that the process for obtaining useable frozen
  tumor samples is complex and difficult but these are the samples that are
  extremely useful for research. This is also typically a time of great stress
  for owners whose dogs have been diagnosed with a serious disease. We are actively
  working on making the instructions and process simpler and easier to understand
  and it is our hope that more Berner owners will make the effort to contribute
  these types of samples.
  
%p.intermission For the love of a Berner ...

%h4.short How do I submit a sample?
%p
  You need to fill out a submission form and then ship a copy of the form along
  with the specimen to MSU. You can either print and fill out the submission form
  located at
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view')
  or fill out the online submission form located at
  =link_to('bernergarde.org/dbaccess/DTR_OnlineSubmission.aspx','#')
  \. The forms looks complicated, but fill out as much as you can. Owner and dog
  name and registration number are necessary. The rest can be done later. All
  submissions should be mailed according to the instructions for the type of
  submission. This can be found in the far right column of the chart located at
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')
  \.

%p
  Ship all samples to:<br />
  Dr.Vilma Yuzbasian-Gurkan<br />
  2209 Biomedical Physical Sciences<br />
  Michigan State University<br />
  East Lansing, MI 48824

%h4.short What about using the MSU Diagnostic Center for Population and Animal Health?
%p
  Michigan State University has a world class veterinary diagnostic center, the
  Diagnostic Center for Population and Animal Health (DCPAH). Because of their
  completeness, accuracy and quick turnaround times, we highly recommend using
  DCPAH for diagnostic evaluation on all Berner tumors. Your veterinarian should
  know how to ship formalin fixed tissue specimens for diagnosis. For more
  information, visit the DCPAH website:
  =link_to('www.animalhealth.msu.edu','www.animalhealth.msu.edu')
  \. 

%p
  It is important to remember that the Repository stores samples for research
  and does not perform diagnoses. All frozen tumor tissue must have an exact
  diagnosis associated with it either from DCPAH or another diagnostic lab of
  your choice. Submission of DNA or frozen tissue to the Repository is subsidized
  by the BGF and BMDCA (owner only pays for shipping) while the owner is
  responsible is responsible for all costs associated with diagnosis/necropsy.
