%h2 Berner Sennenhund DNA-und Gewebe-Repository

%p
  Als Teil unserer Mission, die Gesundheit und Langlebigkeit unserer Berners zu verbessern,
  Berner-Garde-Stiftung (BGF) und der Michigan State University (MSU),
  mit Unterstützung der Berner Sennenhund Club of America (BMDCA)
  haben festgestellt, dass ein Repository, erhebt, speichert und verwaltet DNA und
  Tumorgewebeproben von Berner Sennenhunde. Das Ziel des Repository
  ist die Erforschung von schweren genetischen Krankheiten der Rasse zu erleichtern.
  Die gesammelten Proben, zusammen mit dem Gesundheits-und genealogische Informationen in der
  Berner-Garde Data Base, wird helfen Forschern, die in wurden behindert
  der Vergangenheit durch das Fehlen von Proben sowie unzureichende medizinische und
  pedigree information.

%p
  Jeder, der ein Berner helfen kann ist, wie wir DNA-Proben müssen von beiden gesunden
  und die betroffenen Hunde. Frozen Tumorgewebe ist das wertvollste Vorlage können wir
  bekommen, aber es ist natürlich nur bei Hunden mit einer diagnostizierten Krankheit.
  Es gibt keine Gebühr für die Einreichung der Proben an das Repository als dass die Kosten
  durch BGF und BMDCA abgedeckt. Allerdings ist der Eigentümer verantwortlich für die Beschaffung
  Pathologie Ergebnisse aus den betroffenen Berners.

.notice
  %h3 Einreichungen Sind Gefragt!
  %p Die Arten der Einreichungen müssen wir für das Repository sind
  %ol
    %li Blut oder Wangenabstriche von allen Hunden, ob gesund oder mit der Diagnose einer Erkrankung.
    %li
      Fresh Frozen Tumorgewebe. Dies ist Gewebe sofort nach der Entfernung vom Hund eingefroren. Sehen Sie sich die
      =link_to('Besondere Hinweise', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/files/tumor-frozen.pdf')
      für mehr Details.
    %li Laufende Updates im Berner-Garde-Datenbank in Bezug auf die Gesundheit Ihres Hundes.
  %p.more= link_to('Klicken Sie hier für weitere Informationen zum Einreichen von Proben an das Repository.', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')

%p
  %span.critical Bitte beachten Sie, es ist wichtig, dass gefrorene Gewebeproben eine genaue Diagnose zu haben.
  Dies ist durch Vorlage einer festen Gewebeprobe zu Ihrem Tierarzt die Wahl des fertig
  Labor oder auf der
  =link_to('Diagnostic Center für Bevölkerung und Tiergesundheit (DCPAH)', 'http://www.animalhealth.msu.edu/')
  an der Michigan State University. Wir empfehlen DCPAH, da sie gut bekannt sind
  wobei ein hervorragendes Labor. Diese Ergebnisse sollten Pathologie weitergeleitet werden
  Berner-Garde entweder durch unsere Datei-Manager,
  =link_to('Pat Long','mailto:filemanager@bernergarde.org')
  , oder
  =link_to('Sharon or Marlee','mailto:berners@cvm.msu.edu')
  am Repository. Beachten Sie, dass labordiagnostischen Gebühren in der Verantwortung sind
  Eigentümer und nicht durch die Repository erfasst.

%p
  Darüber hinaus denken Sie bitte daran, dass # 3, Aktualisierung Ihrer Gesundheit Datensätze in der BGF
  Datenbank, einschließlich, ob der Hund noch lebt ist sehr wichtig
  Informationen für Forscher. Dies ist besonders wichtig für diejenigen unter Ihnen, haben
  vorgelegt Blut oder Wangenabstriche, wenn Ihr Hund war gesund. Sie können Ihre
  Gesundheit des Hundes Informationen jederzeit, indem Sie hier auf der
  =link_to('Dog Einreichungsformular','#')
  oder durch Kontaktaufnahme mit einem unserer
  =link_to('Berner-Garde Daten Betreibern', '#')
  \.

%ul.links
  %li=link_to('Für tiefer gehende Informationen über das Repository, klicken Sie bitte hier.','#')
  %li=link_to('Klicken Sie hier für das Online-Formular.','#')

%h2 Repository Kontakt:
%h3 Berner-Garde-Stiftung
%ul.contacts
  %li
    Mary Maliarik, PhD,<br />
    Repository Verbindungsbüro für BGF<br />
    =link_to('mmaliarik@aol.com','mailto:mmaliarik@aol.com')
    <br />734-995-1856 haus<br />
    734-355-7924 zell
  %li
    Lori Jodar<br />
    Präsident, BGF<br />
    =link_to('lori@freeway.net','mailto:lori@freeway.net')
    <br />231-348-5519 haus<br />
    231-339-3499 zell

%h3 Michigan State University
%h4 Mit Hilfe Einreichungen
%ul.contacts
  %li
    Sharon Laird, LVT, BS<br />
    RATTS - Forschung und Lehre Technischer Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-9902 büro<br />
    517-432-9904 fax
  %li
    Marlee Richter, LVT. LAT, Wissenschaftlicher Mitarbeiter II/s<br />
    RATTS - Forschung und Lehre Technischer Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-2808 büro<br />
    517-432-9904 fax
  %li
    =link_to('Vilma Yuzbasiyan-Gurkan','http://mmg.msu.edu/148.html')
    , BS, Ph.D.<br />
    Associate Professor<br />
    =link_to('yuzbasiyan@cvm.msu.edu','mailto:yuzbasiyan@cvm.msu.edu')
    <br />517-355-6463 ext.1562 büro
%h4 Pathologie Diagnosen
%ul.contacts
  %li
    =link_to('Matti Kiupel','http://pathobiology.msu.edu/people/kiupel.html')
    , BS, MS, PhD, DACVP<br />
    Associate Professor<br />
    =link_to('kiupel@dcpah.msu.edu','mailto:kiupel@dcpah.msu.edu')
    <br />517-432-2670 büro
