%h2 Berner Sennenhond DNA en Tissue Repository - Aanvullende informatie

%h4.short De Vision
%p
  Te vergemakkelijken gezondheid onderzoek naar genetische ziekten van Berner Sennen
  Honden, de Berner-Garde Foundation (BGF) had een doel van het creëren van een repository
  van DNA en tumorweefsel dat zou vergroten de stamboom en de huidige medische
  informatie die is opgeslagen in het Berner-Garde Database. Het was voorzien dat deze
  kon geven onderzoekers een betrouwbare bron van informatie waar ze konden
  snel te beginnen met hun studie, zonder dat het instellen van de infrastructuur voor
  elke onderzoeker om deze informatie te verzamelen over hun eigen land. BGF de Voorzitter,
  Lori Jodar en Trustee, Mary Maliarik, had heel hard gewerkt aan dit project
  voor een aantal jaren en waren de drijvende kracht achter de visie. Dit doel
  werd een realiteit in de herfst van 2006 toen de Berner-Garde Foundation (BGF)
  en Michigan State University (MSU), met steun van de Berner Sennen
  Dog Club of America (BMDCA) een contract getekend voor een DNA-en Tumor vast te stellen
  Weefsel Repository te worden gehuisvest aan de Michigan State University.

%h4.short Making It Happen
%p
  Het werk werd gedaan in de winter van 2006 om de infrastructuur aan te leggen voor de
  repository evenals de processen en procedures die gevolgd zou worden.
  Onder leiding van Dr Vilma Yuzbasiyan-Gurkan, de Repository co-sponsor
  op MSU, was de goede ultra-lage temperatuur vriezer geselecteerd en besteld. Dit
  vriezer is speciaal ontworpen voor de opslag van biologische monsters bij -80 graden
  Celsius. De BMDCA royaal betaald voor de vriezer.

%p
  Ook tijdens de winter van 2006 werd de Berner-Garde Database uitgebreid met onder andere
  de mogelijkheid van registratie en het bijhouden van alle ingediende monsters. Dit omvatte de
  incorporatie van speciale lage temperatuur streepjescodevorm labels en een hand-held scanner
  om te helpen bij de registratie en identificatie elk monster. De computer werk werd gedaan door BGF
  Trustee Gary Galunas en uitgevoerd van de mogelijkheden ontworpen als een samenwerkingsverband
  inspanning van de hele Repository team. De ingediende monsters zijn eigenlijk verbonden
  een hond record in Berner-Garde database, zodat de stamboom en informatie over gezondheid
  is bij de hand.

%p
  De Michigan State University team wordt gezamenlijk geleid door Dr Vilma Yuzbasiyan-Gurkan,
  een geneticus, en dr. Matti Kiupel, een patholoog. Beide onderzoekers hebben een lange
  en indrukwekkende geschiedenis voor bijdragen aan de gezondheid van honden en zijn
  samenwerken uitvoerig in de afgelopen 5 jaar op het onderzoek in de verschillende aspecten
  van kanker. Dr Yuzbasiyan-Gurkan is Associate Professor aan de afdeling
  Small Animal Klinische Wetenschappen aan het College of Veterinary Medicine en loopt de
  =link_to('Laboratorium Moleculaire Geneeskunde en Canine Genetica','http://mmg.msu.edu/')
  \. Dr Kiupel is een Associate
  Professor in het departement Pathobiologie en diagnostisch onderzoek en
  als directeur van het Laboratorium en Immunohistopathology Biopsie Service bij de MSU
  Diagnostisch Centrum voor Bevolkings-en diergezondheid (
  =link_to('DCPAH','http://www.animalhealth.msu.edu/')
  ) De processen en
  procedures voor het verzamelen van monsters werden uitgewerkt door de inspanningen van BGF
  Trustee Mary Maliarik, PhD, en de MSU team. Twee licentie veterinaire technici,
  Marlee Richter en Sharon Laird, kwam aan boord op dit moment om te leren over de
  Repository en om de personen verwerking Repository inzendingen op een dagelijkse basis.
  Velen van u kunnen zich rechtstreeks hebben gecommuniceerd met Marlee of Sharon als ze geholpen met
  het bloed te trekken op de 2007 BMDCA National Specialty in Louisville en hebben geholpen
  veel Berner eigenaren met de complexiteit van het indienen van bevroren weefsel monsters.
  
%h4.short Eerste Collecties
%p
  De eerste monsters verzameld voor het archief werden op de jaarlijkse verkiezingen
  bijeenkomst voor het Hart van Michigan BMDC in april van 2007. Dit was onze "test"
  ter voorbereiding van het monster collectie die werd een maand later in Louisville gedaan.
  Deze eerste twee collectie evenementen waren succesvol buiten onze dromen. Op de
  Michigan club bijeenkomst hebben we bloed en wang swabs verzameld van 48 honden en
  de Nationale in Louisville we verzameld van 157 honden. We hadden gedacht dat we zouden
  200 inzendingen krijgen het eerste jaar en we in feite hoger was dan dat in de eerste maand!

%p
  Als een extra notitie bij de eerste monstername bij hun club bijeenkomst,
  het Hart van Michigan BMDC een cheque van Berner-garde in het bedrag van
  $ 5.000 aan worden gebruikt voor de financiering van de Repository. Dit vertegenwoordigde 50% van hun winst
  van de 2006 BMDCA National Specialty in Frankenmuth en was hun manier van
  "teruggeven" aan de Berner gemeenschap die dat speciaal ondersteund zo goed.
  Lori Jodar (voorzitter, BGF) en Dr Vilma Yuzbasiyan-Gurkan (MSU) waren er om
  accepteren de controle.
  
%h4.short Waar We Nu
%p
  Sinds de 2007 BMDCA National Specialty in Louisville, een aantal regionale clubs
  hebben vrijwillig DNA-monster collecties te doen en dit bleek te zijn
  groot succes! De Berner-Garde Stichting oprecht bedankt alle clubs die
  hebben georganiseerd deze gebeurtenissen en de geweldige vrijwilligers in de clubs die
  maakte dit mogelijk.

%ul
  %li Grand Canyon State - Nancy Stewart
  %li Greater Seattle - Julie Jackson
  %li Greater Twin Cities - Debby Wilkins
  %li Heart of Michigan - Mary Maliarik
  %li Lone Star - Beverly Hilmes
  %li Northern California - Cindy Beckman

%p
  Vanaf het voorjaar van 2010, hebben we 1160 honden in te dienen monsters naar de Repository.
  Dat is echt een geweldige reactie van de Berner gemeenschap en we hartelijk bedanken
  al deze honden en eigenaren om bij te dragen.

%h4.short Going Forward
%p
  Onze uitdaging vooruit is voor meer Berner eigenaren bevroren tumor in te dienen
  weefselmonsters. Wij begrijpen dat het proces voor het verkrijgen van bruikbare bevroren
  tumormonsters is complex en moeilijk, maar dit zijn de monsters die zijn
  zeer nuttig voor onderzoek. Dit is ook typisch een tijd van grote stress
  voor eigenaren die honden zijn gediagnosticeerd met een ernstige ziekte. We zijn actief
  werken aan het maken van de instructies en het proces eenvoudiger en gemakkelijker te begrijpen
  en het is onze hoop dat er meer Berner eigenaren zullen de moeite om bij te dragen om
  dit soort monsters.
  
%p.intermission Voor de liefde van een Berner ...

%h4.short Hoe verzend ik een monster?
%p
  Je moet het invullen van een aanmeldingsformulier en vervolgens een kopie schip van het formulier samen
  met het monster tot MSU. U kunt afdrukken en vul het deelnameformulier
  Gelegen op
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/submission-form.pdf/view')
  of vul het online aanmeldingsformulier zich op
  =link_to('bernergarde.org/dbaccess/DTR_OnlineSubmission.aspx','#')
  \. De formulieren ziet er ingewikkeld, maar vul zo veel als je kunt. Eigenaar en hond
  naam en registratienummer nodig. De rest kan later worden gedaan. Alle
  inzendingen moet worden verzonden volgens de instructies voor het type
  indienen. Dit kan worden gevonden in de rechterkolom van de grafiek zich op
  =link_to('http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples','http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')
  \.

%p
  Het schip alle monsters naar:<br />
  Dr.Vilma Yuzbasian-Gurkan<br />
  2209 Biomedical Physical Sciences<br />
  Michigan State University<br />
  East Lansing, MI 48824

%h4.short Wat over het gebruik van het MSU Diagnostisch Centrum voor Bevolkings-en diergezondheid?
%p
  Michigan State University is een wereld klasse veterinair diagnostisch centrum, de
  Diagnostisch Centrum voor Bevolkings-en diergezondheid (DCPAH). Omwille van hun
  volledigheid, nauwkeurigheid en snelle doorlooptijden, raden we het gebruik
  DCPAH voor diagnostische evaluatie van alle Berner tumoren. Uw dierenarts moet
  weten hoe formaline gefixeerd weefselmonsters schip voor de diagnose. Voor meer
  informatie, bezoek de DCPAH website:
  =link_to('www.animalhealth.msu.edu','www.animalhealth.msu.edu')
  \. 

%p
  Het is belangrijk te onthouden dat de Repository opgeslagen monsters voor onderzoek
  en niet uit te voeren diagnoses. Alle ingevroren tumorweefsel moet een exacte
  diagnose in verband met het ofwel uit DCPAH of een andere diagnostische labo van
  uw keuze. Indiening van DNA of bevroren weefsel aan de Repository is gesubsidieerd
  door de BGF en BMDCA (eigenaar alleen betaalt voor de scheepvaart), terwijl de eigenaar is
  verantwoordelijk is verantwoordelijk voor alle kosten in verband met de diagnose / autopsie.
