%h2 Bernese Mountain Dog DNA and Tissue Repository

%p
  As part of our mission to improve the health and longevity of our Berners,
  the Berner-Garde Foundation (BGF) and Michigan State University (MSU),
  with support from the Bernese Mountain Dog Club of America (BMDCA),
  have established a Repository that collects, stores and maintains DNA and
  tumor tissue samples from Bernese Mountain Dogs. The goal of the Repository
  is to facilitate research on serious genetic diseases affecting the breed.
  The samples collected, along with the health and pedigree information in the
  Berner-Garde Data Base, will assist researchers who have been hampered in
  the past by the lack of samples as well as insufficient medical and
  pedigree information.

%p
  Everyone who has a Berner can help, as we need DNA samples from both healthy
  and affected dogs. Frozen tumor tissue is the most valuable submission we can
  get, but it is obviously only available from dogs with a diagnosed illness.
  There is no charge for submitting samples to the Repository as that cost is
  being covered by BGF and BMDCA. However, the owner is responsible for obtaining
  Pathology results from affected Berners.

.notice
  %h3 Submissions Are Needed!
  %p The types of submissions we need for the repository are
  %ol
    %li Blood or cheek swabs from all dogs, whether healthy or diagnosed with any disorder.
    %li
      Fresh frozen tumor tissue. This is tissue frozen immediately upon removal from the dog. See the
      =link_to('Special Instructions', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/files/tumor-frozen.pdf')
      for more details.
    %li Ongoing updates in the Berner-Garde Database regarding the health of your dog.
  %p.more= link_to('Click here for more information on submitting samples to the Repository.', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')

%p
  %span.critical Please note it is critical that frozen tissue samples have an exact diagnosis.
  This is done by submitting a fixed tissue sample to your veterinarian's choice of
  laboratory or to the
  =link_to('Diagnostic Center for Population and Animal Health (DCPAH)', 'http://www.animalhealth.msu.edu/')
  at Michigan State University. We highly recommend DCPAH as they are well known for
  being an outstanding laboratory. These pathology results should be forwarded to
  Berner-Garde either through our File Manager,
  =link_to('Pat Long','mailto:filemanager@bernergarde.org')
  , or to
  =link_to('Sharon or Marlee','mailto:berners@cvm.msu.edu')
  at the Repository. Note that laboratory diagnostic charges are the responsibility of
  the owner and are not covered by the Repository.

%p
  Additionally, please remember that #3, updating your health records in the BGF
  Database, including whether the dog is still living is extremely important
  information to researchers. This is most important for those of you who have
  submitted blood or cheek swabs when your dog was healthy. You can update your
  dog's health information at any time by clicking here on the
  =link_to('Dog Submission Form','#')
  or by contacting any of our
  =link_to('Berner-Garde Data Operators', '#')
  \.

%ul.links
  %li=link_to('For more in-depth information on the Repository, please click here.',page_path(I18n.locale,'repository_p2'))
  %li=link_to('Click here for the Online Submission Form.','#')

%h2 Repository Contact Information:
%h3 Berner-Garde Foundation
%ul.contacts
  %li
    Mary Maliarik, PhD,<br />
    Repository Liaison for BGF<br />
    =link_to('mmaliarik@aol.com','mailto:mmaliarik@aol.com')
    <br />734-995-1856 home<br />
    734-355-7924 cell
  %li
    Lori Jodar<br />
    President, BGF<br />
    =link_to('lori@freeway.net','mailto:lori@freeway.net')
    <br />231-348-5519 home<br />
    231-339-3499 cell

%h3 Michigan State University
%h4 Help With Submissions
%ul.contacts
  %li
    Sharon Laird, LVT, BS<br />
    RATTS-Research and Teaching Technical Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-9902 office<br />
    517-432-9904 fax
  %li
    Marlee Richter, LVT. LAT, Research Assistant II/s<br />
    RATTS - Research And Teaching Technical Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-2808 office<br />
    517-432-9904 fax
  %li
    =link_to('Vilma Yuzbasiyan-Gurkan','http://mmg.msu.edu/148.html')
    , BS, Ph.D.<br />
    Associate Professor<br />
    =link_to('yuzbasiyan@cvm.msu.edu','mailto:yuzbasiyan@cvm.msu.edu')
    <br />517-355-6463 ext.1562 office
%h4 Pathology Diagnoses
%ul.contacts
  %li
    =link_to('Matti Kiupel','http://pathobiology.msu.edu/people/kiupel.html')
    , BS, MS, PhD, DACVP<br />
    Associate Professor<br />
    =link_to('kiupel@dcpah.msu.edu','mailto:kiupel@dcpah.msu.edu')
    <br />517-432-2670 office
