%h2 Berner Sennenhond DNA en weefsel Repository

%p
  Als onderdeel van onze missie om de gezondheid en levensduur van onze Berners te verbeteren,
  de Berner-Garde Foundation (BGF) en Michigan State University (MSU),
  met steun van de Berner Sennen Club van Amerika (BMDCA),
  hebben een Repository die verzamelt, bewaart en onderhoudt DNA en
  tumorweefsel monsters van Berner Sennen honden. Het doel van de Repository
  is het faciliteren van onderzoek naar ernstige genetische ziekten die het ras.
  De monsters worden verzameld, samen met de gezondheid en stamboom informatie in de
  Berner-Garde Data Base, zal helpen onderzoekers die werden gehinderd in
  het verleden door het ontbreken van monsters, alsook onvoldoende medische en
  pedigree informatie.

%p
  Iedereen die een Berner kan helpen, zoals we DNA-monsters nodig van zowel gezonde
  en de getroffen honden. Bevroren tumorweefsel is het meest waardevolle indiening kunnen we
  te krijgen, maar het is uiteraard alleen beschikbaar honden met een gediagnosticeerde ziekte.
  Er zijn geen kosten voor het indienen van de monsters naar de Repository als die kosten
  wordt gedekt door BGF en BMDCA. Echter, de eigenaar is verantwoordelijk voor het verkrijgen
  Pathologie-uitslagen uit de getroffen Berners.

.notice
  %h3 Inzendingen Zijn Nodig!
  %p De aard van de inzendingen moeten we voor de repository worden
  %ol
    %li Bloed of wang swabs van alle honden, ongeacht of gezond of gediagnosticeerd met een stoornis.
    %li
      Vers ingevroren tumorweefsel. Dit is weefsel bevroren onmiddellijk na verwijdering uit de hond. Zie het
      =link_to('Speciale Instructies', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/files/tumor-frozen.pdf')
      voor meer informatie.
    %li Voortdurend updates in de Berner-Garde Database met betrekking tot de gezondheid van uw hond.
  %p.more= link_to('Klik hier voor meer informatie over het indienen van monsters naar de Repository.', 'http://cvm.msu.edu/research/the-bernese-mountain-dog-dna-and-tissue-repository-at-michigan-state-university/how-to-submit-samples')

%p
  %span.critical Let op: het cruciaal is dat ingevroren weefsel een precieze diagnose te hebben.
  Dit wordt gedaan door het indienen van een vaste weefselmonster naar keuze uw dierenarts van
  laboratorium of het
  =link_to('Diagnostisch Centrum voor Bevolkings-en Diergezondheid (DCPAH)', 'http://www.animalhealth.msu.edu/')
  aan de Michigan State University. We raden DCPAH zoals ze staan ​​bekend om
  een voortreffelijke laboratorium. Deze pathologie-uitslagen moeten worden toegezonden aan
  Berner-Garde, hetzij via onze File Manager,
  =link_to('Pat Long','mailto:filemanager@bernergarde.org')
  , of
  =link_to('Sharon or Marlee','mailto:berners@cvm.msu.edu')
  op de Repository. Merk op dat laboratoriumdiagnostiek kosten zijn de verantwoordelijkheid van de
  de eigenaar en zijn niet gedekt door de Repository.

%p
  Bovendien, vergeet niet dat # 3, het bijwerken van uw medische dossiers in het BGF
  Database, inclusief de vraag of de hond nog leeft is uiterst belangrijk
  informatie aan onderzoekers. Dit is heel belangrijk voor degenen onder u die hebben
  ingezonden bloed-of wang swabs wanneer uw hond gezond was. U kunt uw
  hond informatie over gezondheid op elk moment door hier te klikken op de
  =link_to('Hond formulier voor het indienen','#')
  of door contact met een van onze
  =link_to('Berner-Garde Data Operators', '#')
  \.

%ul.links
  %li=link_to('Voor meer diepgaande informatie over de Repository, klik hier.','#')
  %li=link_to('Klik hier voor de online aanmeldingsformulier.','#')

%h2 Repository Contact Informatie:
%h3 Berner-Garde Stichting
%ul.contacts
  %li
    Mary Maliarik, PhD,<br />
    Repository Liaison voor BGF<br />
    =link_to('mmaliarik@aol.com','mailto:mmaliarik@aol.com')
    <br />734-995-1856 prive<br />
    734-355-7924 cellen
  %li
    Lori Jodar<br />
    Voorzitter, BGF<br />
    =link_to('lori@freeway.net','mailto:lori@freeway.net')
    <br />231-348-5519 prive<br />
    231-339-3499 cellen

%h3 Michigan State University
%h4 Help Met Inzendingen
%ul.contacts
  %li
    Sharon Laird, LVT, BS<br />
    RATTS - Onderzoek en Onderwijs Technical Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-9902 kantoor<br />
    517-432-9904 fax
  %li
    Marlee Richter, LVT. LAT, Research Assistant II/s<br />
    RATTS - Onderzoek en Onderwijs Technical Support<br />
    =link_to('berners@cvm.msu.edu','mailto:berners@cvm.msu.edu')
    <br />517-432-2808 kantoor<br />
    517-432-9904 fax
  %li
    =link_to('Vilma Yuzbasiyan-Gurkan','http://mmg.msu.edu/148.html')
    , BS, Ph.D.<br />
    Universitair Hoofddocent<br />
    =link_to('yuzbasiyan@cvm.msu.edu','mailto:yuzbasiyan@cvm.msu.edu')
    <br />517-355-6463 ext.1562 kantoor
%h4 Pathologie Diagnoses
%ul.contacts
  %li
    =link_to('Matti Kiupel','http://pathobiology.msu.edu/people/kiupel.html')
    , BS, MS, PhD, DACVP<br />
    Universitair Hoofddocent<br />
    =link_to('kiupel@dcpah.msu.edu','mailto:kiupel@dcpah.msu.edu')
    <br />517-432-2670 kantoor
