%h2 Berner-Garde Data Submission Forms

%p
  Bitte wählen Sie eine der folgenden Form für die Einreichung von Daten an eine Berner-Garde
  Betreiber:

%ul
  %li= link_to('EINZELNEN HUND EINGABEFORMULAR',    '#')
  %li= link_to('WURF EINGABEFORMULAR',              '#')
  %li= link_to('PERSÖNLICHE DATEN EINGABEFORMULAR', '#')

%h3.short DNA/Tissue Repository Einreichungen

%p
  So senden Proben zu den Berner Sennenhund DNA / Tissue Repository finden Sie in
  Informationen und Anweisungen in der Nähe der Unterseite des
  =link_to('Archiv', page_path(I18n.locale, 'repository'))
  seite. Dort finden Sie Links zu Probenahme und Anweisungen zum Versand sowie zu finden
  link auf das Online-Formular, dass Sie brauchen, um für die Einreichung abzuschließen.
