%h2 Berner-Garde Data Formulieren Voor Het Aanvragen

%p
  Selecteer een van de volgende vormen voor het indienen van gegevens bij een Berner-Garde
  Operator:

%ul
  %li= link_to('INDIVIDUELE HOND MIDDEL VORM',        '#')
  %li= link_to('NEST MIDDEL VORM',                    '#')
  %li= link_to('PERSOONLIJKE INFORMATIE MIDDEL VORM', '#')

%h3.short DNA / Tissue Repository Inzendingen

%p
  Voor het indienen van monsters aan de Berner Sennenhond DNA/Tissue Repository, zie
  informatie en instructies in de buurt van de onderkant van de
  =link_to('Repository', page_path(I18n.locale, 'repository'))
  pagina. Daar vindt u links naar de bemonstering en de scheepvaart, alsook van
  een link naar het online aanmeldingsformulier dat u moet invullen voor de indiening.
