%h2 Berner-Garde Data Submission Forms

%p
  Please select one of the following forms for submission of data to a Berner-Garde
  Operator:

%ul
  %li= link_to('INDIVIDUAL DOG SUBMISSION FORM',       '#')
  %li= link_to('LITTER SUBMISSION FORM',               '#')
  %li= link_to('PERSONAL INFORMATION SUBMISSION FORM', '#')

%h3.short DNA/Tissue Repository Submissions

%p
  To submit samples to the Bernese Mountain Dog DNA/Tissue Repository, please see
  information and instructions near the bottom of the
  =link_to('Repository', page_path(I18n.locale, 'repository'))
  page. There you will find links to sampling and shipping instructions as well as
  a link to the online submission form that you need to complete for the submission.
