%h2 Berner-Garde Trustees

%dl

  %dt
    =image_tag 'lori.jpg'
  %dd
    Lori Jodar,
    =t('trustees.president')
    <br />lorijodar@bernergarde.org

  %dt
    =image_tag 'JoyeNeffAndNick.jpg'
  %dd
    Joye Neff,
    =t('trustees.vice_president')
    <br />joyeneff@bernergarde.org

  %dt
    =image_tag 'Candy1-01.jpg'
  %dd
    Roxanne Bortnick, 
    =t('trustees.secretary')
    <br />roxannebortnick@bernergarde.org

  %dt
    =image_tag 'GaryLambach1.jpg'
  %dd
    Gary Lambach, 
    =t('trustees.treasurer')
    <br />garylamback@bernergarde.org

  %dt
    =image_tag 'nophoto.gif'
  %dd
    Bill Dunnevant,
    =t('trustees.trustee')
    <br />billdunnevant@bernergarde.org

  %dt
    =image_tag 'GaryAndPooka-FirstShow.jpg'
  %dd
    Gary Galunas,
    =t('trustees.it_director')
    <br />garygalunas@bernergarde.org

  %dt
    =image_tag 'JaneHaefner.jpg'
  %dd
    Jane Haefner,
    =t('trustees.trustee')
    <br />janehaefner@bernergarde.org

  %dt
    =image_tag 'PatLong2.jpg'
  %dd
    Pat Long,
    =t('trustees.file_manager')
    <br />patlong@bernergarde.org

  %dt
    =image_tag 'Maliarik2.jpg'
  %dd
    Mary Maliarik,
    =t('trustees.repo_liaison')
    <br />mmaliarik@aol.com

  %dt
    =image_tag 'nophoto.gif'
  %dd
    Daniel Sernicola,
    =t('trustees.pub_director')
    <br />dansernicola@bernergarde.org

  %dt
    =image_tag 'NancyStewart1.jpg'
  %dd
    Nancy Stewart,
    =t('trustees.trustee')
    <br />nancysteward@bernergarde.org
