html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Generic style definition for all pages in the bgf layout */
body.bgf {
  /* Generic style definition for all pages */
  padding-right: 5px;

  a {
    color: #602e02;
  }
  span.critical {
    color: #B00000;
    font-weight: bold;
  }
  ul.links {
    list-style-type: none;
    > li {
      display: inline;
      margin-left: 30px;
    }
    > li:first-child {
      margin-left: 0px;
    }
  }
  ul.contacts {
    clear: both;
    list-style-type: none;
    > li {
      vertical-align: top;
      width: 320px;
      display: inline-block;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 40px;
    }
  }
  h2 {
    background: #d2d2d2;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0px 2px;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
  h3,h4 {
    background: #e8e8e8;
    font-weight: bold;
    padding: 3px 0px;
    margin-top: 3px;
    margin-bottom: 10px;
    &.short {
      display: inline-block;
    }
  }
  span.healthy_help {
    color: #2C7037;
    font-weight: bold;
  }

  /* Specific style definition for all pages */
  > div.container {
    position: relative;
    width: 100%;
    margin: 1px;
    padding: 2px;
    > div.header {
      position: relative;
      height: 150px;
      padding: 2px 2px 2px 170px;
      margin-bottom: 10px;
      background: url('/assets/BG_logo150.png') no-repeat 0px;
      border-bottom: 2px solid black;
      > h1 {
        position: absolute;
        bottom: 0px;
        font-size: 1.3em;
        font-weight: bold;
      }
      > div.lang {
        position: absolute;
        bottom: 0px;
        right: 0px;
        > ul {
          display: inline;
          padding-left: 0;
          margin-right: 2px;
          margin-bottom: 2px;
          > li {
            display: inline;
            list-style-type: none;
          }
        }
      }
    }
    > div.nav {
      position: absolute;
      > ul {
        width: 134px;
        border: 2px solid black;
        background: #A74E3C;
        list-style-type: none;
        padding-left: 0px;
        > li:hover {
          background: #F8DA63;
          > a {
            color: black;
          }
        }
        > li:first-child {
          border-top: none;
        }
        > li {
          padding: 2px 15px;
          border-top: 2px solid black;
          text-align: center;
          font-size: 1.0em;
          line-height: 1.1em;
          > a {
            color: white;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    > div.content {
      margin-left: 155px;

      > span {
        display: block;
        > a {
          text-decoration: none;
          color: black;
          font-size: 1.1em;
          font-weight: bold;
          background: #E8E8E8;
          padding: 1px;
        }
        > p {
          display: block;
          margin: 10px 0px;
        }
      }
    }
    > div.footer {
      clear: both;
      border-top: 1px solid #9A9A9A;
      span {
        display: block;
      }
    }
  }
}

/* Generic style definition for all pages in the db layout */
body.db {
  background: #890000;
  > div.container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: #FEF6E4;
    > div.nav {
      width: 88px;
      position: absolute;
      height: 100%;
      > ul {
        padding-top: 74px;
        padding-left: 0px;
        background: url('/assets/BG_logo_76.jpg') no-repeat 50% 0px;
        list-style-type: none;
        margin: 3px;
        > li {
          background: #290000;
          margin-top: 4px;
          margin-bottom: 2px;
          border-top: 1px solid #C0C0C0;
          border-bottom: 1px solid #C0C0C0;
          padding-top: 2px;
          padding-bottom: 4px;
          font-size: 11px;
          font-weight: bold;
          line-height: 1.1em;
          text-align: center;
          > a {
            width: 100%;
            color: white;
            text-decoration: none;
          }
          &:hover {
            background: #FFD633;
            border: 1px solid black;
            > a {
              color: black;
            }
          }
        }
      }
    }
    > div.main {
      border-left: 88px solid #890000;
      height: 100%;
      > div.roundthis {
        background: #890000;
      }
      > div.roundthis > div.header {
        padding: 8px 0px;
        position: relative;
        width: 100%;
        background: #890000;
        > div.title {
          filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-2,OffY=2,Color='#090000',Positive='true');
          > h1, h2 {
            display: inline;
            font-family: "museo-sans-rounded",sans-serif;
            margin-left: 20px;
          }
          > h1 {
            color: #E7E7E7;
            letter-spacing: 2px;
            text-shadow: -4px 4px 3px #290000;
            font-weight: 900;
            font-size: 37px;
          }
          > h2 {
            color: #F4EC8B;
            letter-spacing: 1px;
            text-shadow: 4px 4px 3px #290000;
            font-weight: 900;
            font-size: 14px;
          }
        }
        > div.lang {
          position: absolute;
          bottom: 8px;
          right: 60px;
          color: #F4EC8B;
          > ul {
            display: inline;
            padding-left: 0;
            > li {
              display: inline;
              list-style-type: none;
              > a {
                color: #F4F3BB;
              }
            }
          }
        }
        > div.version {
          position: absolute;
          bottom: 0px;
          right: 0px;
          font-size: 30px;
          font-weight: bold;
          color: #890000;
          text-shadow: 2px 2px 2px #222, -1px -1px 2px #B35C5C;
          margin-right: 15px;
          filter:
            progid:DXImageTransform.Microsoft.Glow(Color='#B35C5C',Strength=1)
            progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color='#000000',Positive='true');
        }
      }
      > div.roundthis > div.content {
        background: #FEF6E4;
        padding-top: 1px;
        padding-left: 10px;
        border-top-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        h2 {
          margin: 8px 0px;
          padding: 0px 0px 0px 5px;
          font-size: 1.2em;
          font-weight: bold;
          width: 20em;
          border: 1px solid black;
          border-radius: 5px;
          -webkit-border-radius: 5px;
        }
        h3 {
          font-size: 1.0em;
          font-weight: bold;
          text-decoration: underline;
          margin: 5px 0 8px 0;
        }
        > p {
          margin: 1px 0px;
          &.instructions {
            font-weight: bold;
          }
          &.help > a {
            color: #00E;
            font-weight: bold;
            > span {
              color: #903;
            }
          }
        }
        > div.nav {
          padding: 10px 0px;
          > ul {
            display: inline;
            border-bottom: 3px solid black;
            padding-left: 0px;
            padding-right: 20px;
            list-style-type: none;
            li {
              display: inline;
              background: #7F868D;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              -webkit-border-top-left-radius: 4px;
              -webkit-border-top-right-radius: 4px;
              margin-right: 1px;
              padding: 3px 10px 0px 10px;
              > a {
                font-size: 12px;
                font-weight: bold;
                color: #E9E9E9;
                text-decoration: none;
              }
              &:hover {
                background: #DDDFE2;
                > a {
                  color: #3D4956;
                }
              }
              &.active {
                background: #940000;
                > a {
                  color: white;
                }
              }
            }
          }
        }
        > div.search_form {
          margin-top: 10px;
          > form {
            > fieldset {
              margin-left: 40px;
              border: 0;
              padding: 0;
              > label {
                width: 7em;
                text-align: right;
                margin-right: 10px;
                display: inline-block;
                &:after {
                  content: ':'
                }
              }
              > input[type="text"] + input[type="radio"] {
                margin-left: 40px;
              }
              > p {
                margin: 0px 0px 0px 15px;
              }
            }
            > input[type="submit"] {
              margin-left: 130px;
            }
          }
        }
        > dl.overview {
          border: 1px solid silver;
          background: #F5F2D3;
          margin: 0;
          > dt, dd {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid silver;
            margin: 0;
            vertical-align: text-bottom;
            line-height: 1.4;
          }
          > dt {
            text-align: right;
            font-weight: bold;
            &.name, &.bg_id {
              &+dd {
                font-weight: bold;
                color: #990000;
              }
            }
            &.last_updated {
              border-bottom: none;
              &+dd {
                border-bottom: none;
              }
            }
          }
          > dd {
            padding-left: 5px;
          }
        }
        > .subsection {
          display: none;
          padding-bottom: 12px;
          > h3 {
            display: inline-block;
            width: 220px;
            border: 1px solid black;
            color: #290000;
            background: #EEDC82;
            padding: 2px 0px 3px 6px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            text-decoration: none;
          }
          > table {
            width: auto;
            border-collapse: collapse;
            margin-bottom: 12px;
            tr {
              font-size: 1.0em;
              font-weight: bold;
              > th, td {
                padding: 0px 2px;
                border: 1px solid #808080;
              }
              > th {
                color: white;
                background: #290000;
              }
              > td {
                color: black;
                background: white;
              }
              > td.bgid, td.reside {
                text-align: center;
              }
            }
          }
          > .detail {
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Per-page styles */

/* The FAQ page has special ULs */
body.faq {
  > div.main > div.content {
    > ul {
      padding-left: 0px;
      list-style-type: none;
      > li > a {
        color: #602E02;
        font-weight: bold;
      }
    }
  }
}

/* The repository page has a special notice section and special heading indentation */
body.repository {
  h3 {
    margin-left: 5px;
  }
  h4 {
    margin-left: 10px;
  }
  h3,h4 {
    float: left;
    clear: both;
    margin-bottom: 3px;
  }
  > div.main > div.content > div.notice {
    display: inline-block;
    margin-left: 20px;
    border: 2px solid #00008b;
    background: #ffffcc;
    color: black;
    a {
      color: #602e02;
    }
    > h3 {
      background: none;
      display: block;
      float: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
    }
    > p {
      margin-bottom: 5px;
    }
    > p.more {
      text-align: center;
      > a {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    > ol {
      margin-bottom: 10px;
      margin-left: 5px;
    }
  }
}

/* The repository_p2 page has content ul settings,
   and a special intermission paragraph */
body.repository_p2 {
  > div.main > div.content {
    > p.intermission {
      color: sienna;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
    }
    > ul {
      margin-left: 40px;
    }
  }
}

/* The trustees page has a special %dl for the photo directory */
body.trustees {
  > div.main > div.content > dl {
    dt {
      float: left;
      clear: left;
      margin-bottom: 10px;
    }
    dd {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

/* The data operators page has a special %ul for the contact list */
body.data_operators {
  > div.main > div.content {
    > p {
      clear: left;
    }
    > ul {
      > li {
        display: block;
        width: auto;
        clear: left;
        vertical-align: bottom;
        > span {
          float: left;
          vertical-align: bottom;
          margin-left: 10px;
        }
        > span.name {
          color: #822f2f;
          font-size: 1.1em;
          font-weight: bold;
          &:after {
            content: ', '
          }
        }
        > span.email {
          clear: left;
          margin-left: 30px;
          margin-bottom: 10px;
          &:before {
            content: 'Email: '
          }
        }
        > span.country {
          float: right;
        }
      }
    }
  }
}

/* The forms page has a special ul */
body.forms {
  > div.main > div.content > ul {
    margin-left: 40px;
    > li {
      list-style-type: disc;
      margin-bottom: 30px;
      > a {
        font-size: 1.1em;
      }
    }
  }
}

/* The donations page has a special contact paragraph and a special notice */
body.donations {
  > div.main > div.content {
    > p.contact {
      font-size: 1.1em;
      font-weight: bold;
    }
    > div.notice {
      width: 50%;
      border: 3px solid black;
      background: #ffc;
      color: black;
      > h3 {
        color: #602E02;
        font-weight: bold;
        background: none;
      }
    }
  }
}

/* The studies page has a special detail ul */
body.studies {
  > div.main > div.content {
    > ul > li > a {
      font-weight: bold;
    }
    > ul.detail {
      padding-left: 0px;
      > li {
        list-style-type: none;
        margin-top: 10px;
        &:first-child {
          margin-top: 0px;
        }
        span {
          display: block;
        }
      }
    }
  }
}

/* The articles page has a special dl */
body.articles {
  > div.main > div.content > dl {
    > dt {
      > span.author:before {
        content: '('
      }
      > span.author:after {
        content: ')'
      }
      > span.article_id {
        margin-left: 15px;
        font-size: 0.9em;
      }
    }
    > dd {
      margin-bottom: 10px;
      margin-left: 0px;
      font-size: 0.9em;
    }
  }
}

/* The links page has some special unordered lists */
body.links {
  > div.main > div.content {
    > ul {
      padding-left: 0px;
      list-style-type: none;
      > li {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    > ul.links > li {
      display: block;
      margin-left: 0px;
    }
  }
}

body.db.people {
  > div.container > div.main > div.roundthis > div.content {
    > h2 {
      background: #D6F7D6;
    }
    > dl.overview {
      width: 740px;
      > dt {
        width: 100px;
        &.master_household {
          width: 160px;
          &+dd {
            width: 205px;
          }
        }
        &.address,&.address2,&.data_source {
          &+dd {
            width: 265px;
          }
        }
        &.city_state_zip {
          color: cornsilk;
        }
        &.email {
          &+dd {
            width: 635px;
          }
        }
        &.bg_id,&.country,&.phone,&.fax,&.deceased,&.display {
          &+dd {
            width: 185px;
          }
        }
      }
      > dd {
        width: 345px;
      }
    }
  }
}

body.db.dogs {
  > div.container > div.main > div.roundthis > div.content {
    > h2 {
      background: #C2E0FF;
    }
    > div.search_form > form {
      > fieldset {
        margin: 2px 0;
        > label {
          font-weight: normal;
          width: 140px;
          margin-right: 0;
        }
        > span {
          display: inline-block;
          &:last-child {
            width: auto;
          }
        }
        > input[type="text"] + input[type="radio"] {
          margin-left: 10px;
        }
        > input[type="text"] + span {
          margin-left: 10px;
          &:before {
            content: '('
          }
          &:after {
            content: ')'
          }
        }
        & + p {
          margin: 10px 0;
        }
      }
      > input[type="submit"] {
        margin-left: 140px;
        margin-top: 10px;
      }
    }
    > dl.overview {
      width: 770px;
      > dt {
        width: 120px;
        &.name, &.call_name {
          & + dd {
            width: 405px;
          }
        }
        &.bg_id, &.sex {
          width: 100px;
          & + dd {
            width: 135px;
          }
        }
        &.registration, &.registration2, &.dna, &.stud_book, &.data_source {
          & + dd {
            width: 180px;
          }
        }
        &.kennel_club, &.kennel_club2 {
          & + dd {
            width: 340px;
          }
        }
        &.whelp_date, &.deceased, &.semen {
          & + dd {
            width: 90px;
          }
        }
        &.litter, &.death, &.rescue {
          width: 110px;
          & + dd {
            width: 135px;
          }
        }
      }
    }
    > .subsection {
      > table a {
        color: #7A1F00;
        text-decoration: underline;
        &:hover {
          color: Navy;
          text-decoration: none;
        }
      }
      > table.sire > tbody > tr > th {
        background: #D7ECED;
        color: black;
      }
      > table.dam > tbody > tr > th {
        background: #F4C5CD;
        color: black;
      }
    }
  }
}
