!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %title= t('site.title')
    =csrf_meta_tag
    =stylesheet_link_tag    'application'
    =stylesheet_link_tag    'application-print', :media => 'print'
    =javascript_include_tag 'application'
    =javascript_include_tag "http://use.typekit.com/duh5mlx.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body{:class => ['db', db_page_class]}
    .container
      .nav
        =render :partial => 'database/nav'
      .main
        .roundthis
          .header
            .title
              %h1= t('db.site.header')
              %h2= t('db.site.subheader')
            - if request.method == 'GET'
              .lang= render :partial => 'shared/lang'
            .version 4.0
          .content
            =yield
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fbb1876f5a1f558cc000077');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
